@model UnitListModel
@inject HelpLinkService HelpLinkService
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Enheter";
    HelpLinkService.PageName = "myndighet-enheter/";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
    <div class="row">
        @await Html.PartialAsync("_Filter", Model.FilterModel)
    </div>
    @if (Model.AllowCreation)
    {
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default btn-large pull-right" href="@Url.Action("Create")">Skapa enhet</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            @if (Model.Items.Any())
            {
                <div class="table-responsive standard-table table-paging table-datatable">
                    <table class="table table-hover full-row-height clickable-rows-with-action search-table">
                        <thead>
                            <tr>
                                <th>Namn</th>
                                <th>E-post</th>
                                <th>Skapad av</th>
                                <th>Skapad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr data-id="@item.CustomerUnitId" data-click-action-url="@Url.Action("View", new { id = item.CustomerUnitId})">
                                    <td class="gray-border-bottom @item.ColorClassName">@item.Name</td>
                                    <td class="gray-border-bottom">@item.Email</td>
                                    <td class="gray-border-bottom">@item.CreatedBy</td>
                                    <td class="gray-border-bottom">@item.CreatedAt.ToString("yyyy-MM-dd")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <span class="no-result-message">
                    Det finns inga upplagda enheter som du har tillgång till
                </span>
            }
        </div>
    </div>
</section>
