@using Tolk.BusinessLogic.Enums;
@using Tolk.BusinessLogic.Utilities;
@using Tolk.Web.Helpers;
@using Tolk.Web.Services;
@inject HelpLinkService HelpLinkService
@model Tolk.Web.Models.StatisticsDashboardModel
@{
    ViewData["Title"] = "Statistik";
    HelpLinkService.PageName = "statistik/";
}
<h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>

<div class="row">
    <div class="col-md-12">
        <h2>Veckostatistik <span class="form-entry-information glyphicon glyphicon-info-sign" title="Veckostatistiken uppdateras löpande och tittar sju dagar tillbaka i tiden och jämför siffrorna med ytterligare sju dagar tillbaka i tiden."></span></h2>
        <hr />
    </div>
</div>
<div class="row">
    @foreach (var weeklyStatistic in Model.WeeklyStatisticsModels)
    {
        <div class="col-md-2">
            <div class="statistics-number-header">@weeklyStatistic.Name</div>
            <div class="statistics-number">
                @weeklyStatistic.NoOfItems
            </div>
            <div class="statistics-differ">
                @if (weeklyStatistic.ChangeType != StatisticsChangeType.NA_NoDataLastWeek && weeklyStatistic.ChangeType != StatisticsChangeType.NA_NoDataThisWeek)
                {
                    <span>
                        @EnumHelper.GetDescription(weeklyStatistic.ChangeType)@weeklyStatistic.DiffPercentage %
                        <span class="@CssClassHelper.GetClassNamesForStatisticsChangeType(weeklyStatistic.ChangeType)"></span>
                    </span>
                }
                else
                {
                    @EnumHelper.GetDescription(weeklyStatistic.ChangeType)
                }
            </div>
        </div>
    }
</div>
@if (Model.TotalNoOfOrders > 0)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Bokningsstatistik <span class="form-entry-information glyphicon glyphicon-info-sign" title="Bokningsstatistiken uppdateras löpande och tittar på alla beställda bokningar som gjorts i systemet."></span></h2>
            <hr />
        </div>
    </div>
    <div class="row">
        @foreach (var orderStatistic in Model.OrderStatisticsModels)
        {
            <div class="col-md-4">
                <div class="statistics-box-header center-block">
                    <h2>@orderStatistic.Name</h2>
                </div>
                <div class="statistics-box wrap-report-info">
                    @if (orderStatistic.MoreToDisplay)
                    {
                        <a class="more-info-report right-padding pull-right" href="#more-info">Visa alla</a>
                        <ol class="collapse total-report">
                            @foreach (var listItem in orderStatistic.TotalListItems)
                            {
                                <li>@listItem.Name @listItem.PercentageValueToDisplay %</li>
                            }
                        </ol>
                    }
                    <ol class="in less-report">
                        @foreach (var listItem in orderStatistic.TopListItems)
                        {
                            <li>@listItem.Name @listItem.PercentageValueToDisplay %</li>
                        }
                    </ol>
                </div>
            </div>
        }
    </div>
}


@section Scripts {
    <environment include="Development">
        <script src="~/js/Statistics/Statistics.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Statistics/Statistics.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

