@using Tolk.BusinessLogic.Enums;
@using Tolk.BusinessLogic.Utilities;
@using Tolk.Web.Helpers;
@model Tolk.Web.Models.StatisticsDashboardModel
@{
    ViewData["Title"] = "Statistik";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Veckostatistik <span class="form-entry-information glyphicon glyphicon-info-sign" title="Veckostatistiken uppdateras löpande och tittar sju dagar tillbaka i tiden och jämför siffrorna med ytterligare sju dagar tillbaka i tiden."></span></h3>
        <hr />
    </div>
</div>
<div class="row">
    @foreach (var weeklyStatistic in Model.WeeklyStatisticsModels)
    {
        <div class="col-md-2">
            <div class="statistics-number-header">@weeklyStatistic.Name</div>
            <div class="statistics-number">
                @weeklyStatistic.NoOfItems
            </div>
            <div class="statistics-differ">
                @if (weeklyStatistic.ChangeType != StatisticsChangeType.NotApplicable)
                {
                    <span>
                        @EnumHelper.GetDescription(weeklyStatistic.ChangeType)@weeklyStatistic.DiffPercentage %
                        <span class="@CssClassHelper.GetClassNamesForStatisticsChangeType(weeklyStatistic.ChangeType)"></span>
                    </span>
                }
                else
                {
                    @EnumHelper.GetDescription(weeklyStatistic.ChangeType)
                }
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Bokningsstatistik</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="statistics-box-header center-block">
            <h4>Mest beställda län</h4>
        </div>
        <div class="statistics-box">
            <ol>
                <li>Stockholm 27 %</li>
                <li>Västra Götaland 23 %</li>
                <li>Skåne 17 %</li>
                <li>Örebro 11 %</li>
                <li>Uppsala 8 %</li>
            </ol>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistics-box-header center-block">
            <h4>Mest beställda språk</h4>
        </div>
        <div class="statistics-box">
            <ol>
                <li>Arabiska 14 %</li>
                <li>Bulgariska 9 %</li>
                <li>Arameiska 6 %</li>
                <li>Finska 6 %</li>
                <li>Rikskinesiska 5 %</li>
            </ol>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistics-box-header center-block">
            <h4>Myndigheter</h4>
        </div>
        <div class="statistics-box">
            <ol>
                <li>Polismyndigheten 17 %</li>
                <li>Pensionsmyndigheten 12 %</li>
                <li>Förvaltningsrätten i Stockholm 11 %</li>
                <li>Migrationsverket 9 %</li>
                <li>Kriminalvården 7 %</li>
            </ol>
        </div>
    </div>
</div>
