@model RequestModel

@{
    string header = (string)ViewData["header"] ?? "Reklamationssammanfattning";

    bool isCollapsible = (bool?)ViewData["isCollapsible"] ?? true;
    var aClass = isCollapsible ? "collapsible-section" : "collapsible-section disabled";
    var divClass = isCollapsible ? "collapse" : "";
    var divId = isCollapsible ? "ComplaintSummary" : "";
}

<a class="@aClass" data-toggle="@divClass" data-target="@("#" + divId)">
    <h2>@header</h2>
</a>
<hr />
<div id="@divId" class="@divClass">
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="ComplaintStatus" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="ComplaintType" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="ComplaintMessage" />
        </div>
    </div>
</div>