@model OrderModel
@{
    const string IsDetailViewKey = "IsOrderDetailView";
    bool IsDetailView = ViewData.ContainsKey(IsDetailViewKey) ? (bool)ViewData[IsDetailViewKey] : false;
    string header = (string)ViewData["header"] ?? "Myndighetens uppgifter";

    string editContactpersonButtonText = (Model.ChangeContactPersonId == null) ? "Lägg till kontaktperson" : "Ändra kontaktperson";

    bool isCollapsible = (bool?)ViewData["isCollapsible"] ?? true;
    var divClass = isCollapsible ? "collapse" : "";
    var divId = (string)ViewData["id"] ?? "CustomerOrganizationInfo";
}

@if (isCollapsible)
{
    <a class="collapsible-section" data-toggle="collapse" data-target="#@divId">
        <h3><span class="glyphicon glyphicon-triangle-right" style="font-size:15px;margin-right:10px;"></span> @header</h3>
    </a>
}
else
{
    <h2 class="normal-weight">@header</h2>
}
<hr />
<div id="@divId" class="@divClass">
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="CreatedBy" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="ContactPerson" />
            @if (IsDetailView && Model.AllowEditContactPerson)
            {
                <button type="button" data-toggle="modal" data-target="#EditContactPerson" class="btn btn-warning">@editContactpersonButtonText</button>
                <br /><br />
            }
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <div class="row">
                    <display-entry asp-for="CustomerName" />
                </div>
                <div class="row">
                    <display-entry asp-for="UnitName" />
                </div>
                <div class="row">
                    <display-entry asp-for="CustomerReferenceNumber" />
                </div>
            </div>
        </div>
    </div>
</div>
