@model OrderModel
@{
    const string IsDetailViewKey = "IsOrderDetailView";
    bool IsDetailView = ViewData.ContainsKey(IsDetailViewKey) ? (bool)ViewData[IsDetailViewKey] : false;
    string header = (string)ViewData["header"] ?? "Myndighetens uppgifter";

    string editContactpersonButtonText = (Model.ChangeContactPersonId == null) ? "Lägg till kontaktperson" : "Ändra kontaktperson";

    bool isCollapsible = (bool?)ViewData["isCollapsible"] ?? true;
    var aClass = isCollapsible ? "collapsible-section" : "collapsible-section disabled";
    var divClass = isCollapsible ? "collapse" : "";
    var divId = isCollapsible ? "CustomerOrganizationInfo" : "";
}
<a class="@aClass" data-toggle="@divClass" data-target="@("#" + divId)">
    <h2>@header</h2>
</a>
<hr />
<div id="@divId" class="@divClass">
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="CreatedBy" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="ContactPerson" />
            @if (IsDetailView && Model.AllowEditContactPerson)
            {
                <button type="button" data-toggle="modal" data-target="#EditContactPerson" class="btn btn-warning">@editContactpersonButtonText</button>
                <br /><br />
            }
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <div class="row">
                    <display-entry asp-for="CustomerName" />
                </div>
                <div class="row">
                    <display-entry asp-for="UnitName" />
                </div>
                <div class="row">
                    <display-entry asp-for="CustomerReferenceNumber" />
                </div>
            </div>
        </div>
    </div>
</div>