@using Tolk.Web.Authorization
@using Microsoft.AspNetCore.Authorization
@using Tolk.Web.Helpers
@using Tolk.BusinessLogic.Services
@inject IAuthorizationService AuthorizationService
@inject Tolk.BusinessLogic.Services.ISwedishClock Clock
@{
    bool renderMenus = (!User.IsInRole(Roles.Impersonator) && (await AuthorizationService.AuthorizeAsync(User, Policies.ViewMenuAndStartLists)).Succeeded) || User.IsInRole(Roles.Impersonator);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tolk.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/bootstrap-datepicker3.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        @await Html.PartialAsync("_HotjarTracking")
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div ckass="navbar-header">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <span class="hidden-xs visible-sm visible-md visible-lg">
                            <img class="logo-navbar" src="~/images/KamK_Logo_x.png" alt="@ViewData["Title"]" />
                        </span>
                        <span class="visible-xs hidden-sm hidden-md hidden-lg">
                            <img class="logo-navbar" src="~/images/KamK_Logo_Crown.png" alt="@ViewData["Title"]"/>
                        </span>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                @if (renderMenus)
                {
                    <ul class="nav navbar-nav">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Policies.Customer)).Succeeded)
                        {
                            <li><a asp-area="" asp-controller="Order" asp-action="Create">Ny bokning</a></li>
                            <li><a asp-area="" asp-controller="Order" asp-action="List">Bokningar</a></li>
                            <li><a asp-area="" asp-controller="Requisition" asp-action="List">Rekvisitioner</a></li>
                            <li><a asp-area="" asp-controller="Complaint" asp-action="List">Reklamationer</a></li>
                            if (User.IsInRole(Roles.SuperUser))
                            {
                                <li><a asp-area="" asp-controller="User" asp-action="List">Administrera användare</a></li>
                            }
                        }
                        else if ((await AuthorizationService.AuthorizeAsync(User, Policies.Broker)).Succeeded)
                        {
                            <li><a asp-area="" asp-controller="Request" asp-action="List">Förfrågningar</a></li>
                            <li><a asp-area="" asp-controller="Requisition" asp-action="List">Rekvisitioner</a></li>
                            <li><a asp-area="" asp-controller="Complaint" asp-action="List">Reklamationer</a></li>
                            if (User.IsInRole(Roles.SuperUser))
                            {
                                <li><a asp-area="" asp-controller="User" asp-action="List">Användare</a></li>
                            }
                        }
                        else if ((await AuthorizationService.AuthorizeAsync(User, Policies.Interpreter)).Succeeded)
                        {
                            <li><a asp-area="" asp-controller="Assignment" asp-action="List">Tilldelningar</a></li>
                            <li><a asp-area="" asp-controller="Requisition" asp-action="List">Rekvisitioner</a></li>
                        }
                        else if (User.IsInRole(Roles.Admin))
                        {
                            <li><a asp-area="" asp-controller="User" asp-action="List">Användare</a></li>
                            <li><a asp-area="" asp-controller="Contract" asp-action="Index">Ramavtal</a></li>
                            <li><a asp-area="" asp-controller="Statistics" asp-action="List"> Statistik och rapporter</a></li>
                            <li><a asp-area="" asp-controller="News" asp-action="List">Nyheter</a></li>
                        }
                    </ul>
                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content col-sm-10">
        <div class="page">
            @RenderBody()
        </div>
        <br />
    </div>
    <footer>
            <div class="row kamk-footer">
                <div class="col-sm-10 center-content maxwidth">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Tolkavropstjänsten</h4>
                            <a asp-area="" asp-controller="Home" asp-action="About">Om tjänsten</a><br />
                            <a asp-area="" asp-controller="Home" asp-action="FAQ">Frågor &amp; svar</a><br />
                        </div>
                        <div class="col-md-3">
                            <h4>Om oss</h4>
                            <a href="https://www.kammarkollegiet.se/statens-inkopscentral" target="_blank">Statens inköpscentral</a><br />
                            <a href="https://www.kammarkollegiet.se/dokument/god-tolksed" target="_blank">God tolksed</a><br />
                            <a href="https://www.avropa.se/ramavtal/ramavtalsomraden/Ovriga-tjanster/tolkformedlingstjanster/" target="_blank">Ramavtal för tolkförmedlingstjänster</a><br />
                        </div>
                        <div class="col-md-3">
                            <h4>Service Desk</h4>
                            <a href="#">Telefonnummer</a><br />
                            <a href="#">Mail</a><br />
                            Öppettider<br />
                            08-17
                        </div>
                        <div class="col-md-3">
                            <h4>Adress</h4>
                            Kammarkollegiet<br />
                            Statens inköpscentral<br />
                            Birger Jarlsgatan 16<br />
                            Box 2218<br />
                            103 15 Stockholm<br />
                            Växel: 08-700 08 00<br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            &copy; 2018 - Kammarkollegiet
                            <small>(Version @GitHelper.Version)</small>
                            <div class="col-sm-pull-1" id="now" data-timetravel-milliseconds="@(((TimeTravelClock)Clock).TimeTravelTicks/10000)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row kamk-footer-logo">
                <div class="center-content">
                    <img class="logo-footer img-negative" src="~/images/KamK_Logo.png" alt="Kammarkollegiet" />
                </div>
            </div>
    </footer>
    @*<script type="text/javascript">tolkBaseUrl = "@Url.Content("~")"</script>*@
    <script type="text/javascript">tolkBaseUrl = "/"</script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.sv.min.js"></script>
        <script src="~/lib/jquery-sortable/jquery-sortable.js"></script>
        <script src="~/lib/jquery-areyousure/jquery.are-you-sure.js"></script>
        <script src="~/lib/jquery-globalize/globalize.js"></script>
        <script src="~/lib/jquery-globalize/cultures/globalize.culture.sv-SE.js"></script>
        <script src="~/lib/select2/dist/js/select2.js"></script>
        <script src="~/lib/datatables/datatables.js"></script>
        <script src="~/js/JSDateExtensions.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true" charset="UTF-8"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/jquery-sortable/jquery-sortable.min.js"></script>
        <script src="~/lib/jquery-areyousure/jquery.are-you-sure.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.sv.min.js"></script>
        <script src="~/lib/jquery-globalize/globalize.min.js"></script>
        <script src="~/lib/jquery-globalize/cultures/globalize.culture.sv-SE.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/lib/datatables/datatables.min.js"></script>
        <script src="~/js/JSDateExtensions.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true" charset="UTF-8"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
