@using Tolk.Web.Authorization
@using Microsoft.AspNetCore.Authorization
@using Tolk.Web.Helpers
@using Tolk.BusinessLogic.Services
@inject IAuthorizationService AuthorizationService
@inject Tolk.BusinessLogic.Services.ISwedishClock Clock
@{
    bool renderMenus = (!User.IsInRole(Roles.Impersonator) && (await AuthorizationService.AuthorizeAsync(User, Policies.RenderMenuAndStartPageBoxes)).Succeeded) || User.IsInRole(Roles.Impersonator);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tolk.Web</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" />
        <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/bootstrap-datepicker3.min.css" />

    <!-- Hotjar Tracking Code for https://tolksystest.azurewebsites.net -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1054120, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            @if (renderMenus)
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Hem</a>
                </div>
            }
            <div class="navbar-collapse collapse">
                @if (renderMenus)
                {
                <ul class="nav navbar-nav">
                    @if ((await AuthorizationService.AuthorizeAsync(User, Policies.Customer)).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Order" asp-action="Add">Avropa tolk</a></li>
                        <li><a asp-area="" asp-controller="Order" asp-action="List"> Sök avrop</a></li>
                        <li><a asp-area="" asp-controller="Requisition" asp-action="List"> Sök rekvisitioner</a></li>
                        <li><a asp-area="" asp-controller="Complaint" asp-action="List"> Sök reklamationer</a></li>
                        if (User.IsInRole(Roles.SuperUser))
                        {
                            <li><a asp-area="" asp-controller="User" asp-action="List">Administrera användare</a></li>
                        }
                    }
                    else if ((await AuthorizationService.AuthorizeAsync(User, Policies.Broker)).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Request" asp-action="List">Sök förfrågningar</a></li>
                        <li><a asp-area="" asp-controller="Requisition" asp-action="List"> Sök rekvisitioner</a></li>
                        <li><a asp-area="" asp-controller="Complaint" asp-action="List"> Sök reklamationer</a></li>
                        if (User.IsInRole(Roles.SuperUser))
                        {
                            <li><a asp-area="" asp-controller="User" asp-action="List">Administrera användare</a></li>
                        }
                    }
                    else if ((await AuthorizationService.AuthorizeAsync(User, Policies.Interpreter)).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Assignment" asp-action="List">Sök tilldelningar</a></li>
                        <li><a asp-area="" asp-controller="Requisition" asp-action="List"> Sök rekvisitioner</a></li>
                    }
                    else if (User.IsInRole(Roles.Admin))
                    {
                        <li><a asp-area="" asp-controller="User" asp-action="List">Administrera användare</a></li>
                        <li><a asp-area="" asp-controller="Contract" asp-action="Index"> Administrera ramavtal</a></li>
                        <li><a asp-area="" asp-controller="Statistics" asp-action="List"> Statistik och rapporter</a></li>
                        <li><a asp-area="" asp-controller="News" asp-action="List"> Administrera nyheter</a></li>
                    }
                </ul>
                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                <div class="row">
                    <div class="col-lg-10">
                        &copy; 2018 - Kammarkollegiet
                        <small>(Version @GitHelper.Version)</small>
                    </div>
                    <div class="col-lg-10"><a asp-area="" asp-controller="Home" asp-action="About">Om Applikationen</a></div>
                    <div class="col-lg-pull-1" id="now" data-timetravel-milliseconds="@(((TimeTravelClock)Clock).TimeTravelTicks/10000)">
                    </div>
                </div>
            </p>
        </footer>
    </div>
    @*<script type="text/javascript">tolkBaseUrl = "@Url.Content("~")"</script>*@
    <script type="text/javascript">tolkBaseUrl = "/"</script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.sv.min.js"></script>
        <script src="~/lib/jquery-sortable/jquery-sortable.js"></script>
        <script src="~/lib/jquery-areyousure/jquery.are-you-sure.js"></script>
        <script src="~/lib/jquery-globalize/globalize.js"></script>
        <script src="~/lib/jquery-globalize/cultures/globalize.culture.sv-SE.js"></script>
        <script src="~/lib/select2/dist/js/select2.js"></script>
        <script src="~/lib/datatables/datatables.js"></script>
        <script src="~/js/JSDateExtensions.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/jquery-sortable/jquery-sortable.min.js"></script>
        <script src="~/lib/jquery-areyousure/jquery.are-you-sure.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.sv.min.js"></script>
        <script src="~/lib/jquery-globalize/globalize.min.js"></script>
        <script src="~/lib/jquery-globalize/cultures/globalize.culture.sv-SE.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/lib/datatables/datatables.min.js"></script>
        <script src="~/js/JSDateExtensions.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
