@model OccasionListModel
@inject HelpLinkService HelpLinkService
@using Tolk.Web.Services

@if (Model.DisplayableOccasions.Any())
{
    <div class="row list-of-occasions">
        <div class="col-sm-12 col-md-10 col-lg-12">
            <div class="table-responsive table-datatable">
                <table class="table table-condensed occasion-table design-only-table">
                    <thead>
                        <tr>
                            <th data-sortable="false">Boknings-ID</th>
                            <th data-sortable="false">Status</th>
                            <th data-sortable="false">Tillfälle</th>
                            <th data-sortable="false"></th>
                            <th data-sortable="false" class="currency">Beräknat pris</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var occasion in Model.DisplayableOccasions.OrderBy(o => o.OccasionStartDateTime).ThenBy(o => o.OrderNumber))
                        {
                            <tr class="table-row">
                                <td class="@occasion.ColorClassName">
                                    @if (Model.DisplayDetailedList)
                                    {
                                        <a asp-controller="@occasion.ControllerName" asp-action="View" asp-route-id="@occasion.RouteId">@occasion.OrderNumber</a>
                                    }
                                    else
                                    {
                                        @occasion.OrderNumber
                                    }
                                </td>
                                <td>
                                    @occasion.StatusName
                                </td>
                                <td>
                                    @occasion.Information
                                    @if (!string.IsNullOrEmpty(occasion.MealBreakIncludedText))
                                    {
                                        <span class="small"><br />@(occasion.MealBreakIncludedText)</span>
                                    }
                                </td>
                                <td>
                                    @(occasion.ExtraInterpreter ? "Extra tolk" : "")
                                </td>
                                @if (occasion.PriceInformationModel != null)
                                {
                                    <td class="currency">
                                        @occasion.PriceInformationModel.TotalPriceToDisplay.ToString("#,0.00 SEK")
                                    </td>
                                    <td class="gray-border-right">
                                        <a class="table-price-toggle-price-info" href="#more-info">Visa</a>
                                    </td>
                                }
                            </tr>
                            @if (occasion.PriceInformationModel != null)
                            {
                                <tr class="table-price-row">
                                    <td colspan="6">
                                        @await Html.PartialAsync("_PriceTable", occasion.PriceInformationModel)
                                    </td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Totalt beräknat pris:</th>
                            <th></th>
                            <th class="currency">@Model.TotalPrice.ToString("#,0.00 SEK")</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        @if (Model.HasSeveralOccasions && Model.ShowInformation)
        {
            <div class="col-sm-12 important-info">
                Om den första förmedlingen inte kan tillsätta samtliga tillfällen måste förmedlingen tacka nej till hela bokningen och den går vidare till nästa förmedling.
            </div>
        }
    </div>
}

