@model OrderViewModel
@using Tolk.Web.Services
@inject HelpLinkService HelpLinkService
@{
    string isOrderDetailViewKey = "IsOrderDetailView";
    bool isOrderDetailView = (bool?)ViewData[isOrderDetailViewKey] ?? false;
    int? actionReplacingId = isOrderDetailView ? Model.ReplacingOrderId : Model.ActiveRequest.ReplacingOrderRequestId;
    int? actionReplacedById = isOrderDetailView ? Model.ReplacedByOrderId : Model.ActiveRequest.ReplacedByOrderRequestId;
    HelpLinkService.PageName = isOrderDetailView ? "myndighet-detaljvyer-av-bokningar/" : "formedling-detaljvyer-av-bokningar/";
}
<section aria-label="Bokningshuvud">
    <div class="row">
        <div class="col-sm-12 order-header-contract-info">
            Avrop från ramavtal för tolkförmedlingstjänster 23.3-9066-16
            <div class="help-sign-big">
                @HelpLinkService.HeaderAnchor()
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.ViewedByUser))
    {
        <span class="glyphicon glyphicon-user color-red" title="@Model.ViewedByUser"> </span><span class="normal-weight color-red"> @Model.ViewedByUser</span>
        <br /><br />
    }
    <div class="row">
        <div class="col-sm-3">
            @if (isOrderDetailView)
            {
                <div class="@Model.ColorClassName">
                    <display-entry asp-for="Status" />
                </div>
            }
            else
            {
                <div class="@Model.ActiveRequest.ColorClassName">
                    <display-entry asp-for="ActiveRequest.Status" />
                </div>
            }
        </div>
        <div class="col-sm-3">
            @{string location = string.Empty;
                if (Model.InterpreterLocationAnswer != 0)
                {
                    location = " - " + Tolk.BusinessLogic.Utilities.EnumHelper.GetDescription(Model.InterpreterLocationAnswer);
                }
            }
            <display-entry asp-for="AssignmentTypeName" text-append="@location" />
        </div>

        <div class="col-sm-3">

            <display-entry asp-for="OrderNumber" />

            @if (actionReplacingId.HasValue)
            {
                <span>
                    (Ersätter <a href="@Url.Action("View", new { id = actionReplacingId })">@Model.ReplacingOrderNumber</a>)
                </span>
            }
            @if (actionReplacedById.HasValue)
            {
                <span>
                    (Ersatt av <a href="@Url.Action("View", new { id = actionReplacedById})">@Model.ReplacedByOrderNumber</a>)
                </span>
            }
        </div>
        <div class="col-sm-3">
            @if (isOrderDetailView)
            {
                <display-entry asp-for="CreatedAt" />
            }
            else
            {
                <display-entry asp-for="ActiveRequest.CreatedAt" />
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.CustomerReferenceNumber))
        {
            <div class="col-sm-12">
                <span class="gray-border-left">
                    Myndighetens ärendenummer: @Model.CustomerReferenceNumber
                </span>
            </div>
        }
    </div>
</section>