@model Tolk.Web.Models.PriceInformationModel
@if (Model.UseDisplayHideInfo)
{
    @if (Model.CenterHeader)
    {
        <div class="col-sm-12 text-center">
            <label class="display-label">@Model.Header</label>
        </div>
    }
    else
    {
        <label class="display-label">@Model.Header</label>
    }
    <div class="wrap-price-info">
        @if (Model.CenterHeader)
        {
            <div class="row">
                <div class="col-sm-12 text-center">@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")<a class="price-column more-info-price" href="#more-info">Visa specifikation</a></div>
            </div>
        }
        else
        {
            <div>@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")<a class="price-column more-info-price" href="#more-info">Visa specifikation</a></div>
        }
        <div class="body-content col-sm-12 collapse detail-price-info">
            <span class="price-header bold">@Model.Header</span><br />
            <span class="important-info">@Model.PriceInformationToDisplay.HeaderDescription</span><br /><br />
            @foreach (var dpi in Model.PriceInformationToDisplay.SeparateSubTotal)
            {
                <table>
                    <thead>
                        <tr>
                            <th>@dpi.HeaderDescription</th>
                            <th class="price-column">Pris, SEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dpi.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                        {
                            <tr>
                                <td>@item.DescriptionToUse</td>
                                <td class="price-column">@item.Price</td>
                            </tr>
                        }
                        <tr>
                            <td class="bold">Summa @dpi.HeaderDescription.ToLower():</td>
                            <td class="price-column bold">@dpi.TotalPrice</td>
                        </tr>
                    </tbody>
                </table>
            }
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Total kostnad</th>
                        <th class="price-column">Pris, SEK</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                    {
                        <tr>
                            <td>@item.DescriptionToUse</td>
                            <td class="price-column">@item.Price</td>
                        </tr>
                    }
                    <tr>
                        <td class="bold">Total summa:</td>
                        <td class="price-column bold">@Model.TotalPriceToDisplay</td>
                    </tr>
                    <tr><td colspan="2"><br /></td></tr>
                </tbody>
            </table>
        </div>
        <br />
    </div>
}
else
{
    <div class="body-content detail-price-info col-sm-12">
        <span class="price-header bold">@Model.Header</span><br />
        <span class="important-info">@Model.PriceInformationToDisplay.HeaderDescription</span><br /><br />
        @foreach (var dpi in Model.PriceInformationToDisplay.SeparateSubTotal)
        {
            <table>
                <thead>
                    <tr>
                        <th>@dpi.HeaderDescription</th>
                        <th class="price-column">Pris, SEK</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in dpi.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                    {
                        <tr>
                            <td>@item.DescriptionToUse</td>
                            <td class="price-column">@item.Price</td>
                        </tr>
                    }
                    <tr>
                        <td class="bold">Summa @dpi.HeaderDescription.ToLower():</td>
                        <td class="price-column bold">@dpi.TotalPrice</td>
                    </tr>
                </tbody>
            </table>
        }
        <br />
        <table>
            <thead>
                <tr>
                    <th>Total kostnad</th>
                    <th class="price-column">Pris, SEK</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                {
                    <tr>
                        <td>@item.DescriptionToUse</td>
                        <td class="price-column">@item.Price</td>
                    </tr>
                }
                <tr>
                    <td class="bold">Total summa:</td>
                    <td class="price-column bold">@Model.TotalPriceToDisplay</td>
                </tr>
                <tr><td colspan="2"><br /></td></tr>
            </tbody>
        </table>
    </div>
    <br />
}


