@model Tolk.Web.Models.PriceInformationModel
@if (Model.UseDisplayHideInfo)
{
    @if (Model.CenterHeader)
    {
        <div class="col-sm-12 text-center">
            <label class="display-label">
                @Model.Header
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <span class="form-entry-information glyphicon glyphicon-info-sign" title="@Model.Description"></span>
                }
            </label>
        </div>
    }
    else
    {
        <label class="display-label">
            @Model.Header
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <span class="form-entry-information glyphicon glyphicon-info-sign" title="@Model.Description"></span>
            }
        </label>
    }
    <div class="wrap-price-info">
        @if (Model.CenterHeader)
        {
            <div class="row">
                <div class="col-sm-12 text-center">@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")<a class="price-column more-info-price" href="#more-info">Visa specifikation</a></div>
            </div>
        }
        else
        {
            <div><span class="detail-text">@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")</span><a class="price-column more-info-price" href="#more-info">Visa specifikation</a></div>
        }
        <div class="body-content col-sm-12 collapse detail-price-info">
            <span class="price-header bold">@Model.Header</span><br />
            <span class="important-info">Följande tolktaxa har använts för beräkning: @Model.PriceInformationToDisplay.PriceListTypeDescription @Model.PriceInformationToDisplay.CompetencePriceDescription</span><br /><br />
            @foreach (var dpi in Model.PriceInformationToDisplay.SeparateSubTotal)
            {
                <table>
                    <thead>
                        <tr>
                            <th>@dpi.SubPriceHeader</th>
                            <th class="price-column">Pris, SEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dpi.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                        {
                            <tr>
                                <td>@item.DescriptionToUse</td>
                                <td class="price-column">@item.Price.ToString("#,0.00")</td>
                            </tr>
                        }
                        <tr>
                            <td class="bold">Summa @dpi.SubPriceHeader.ToLower():</td>
                            <td class="price-column bold">@dpi.TotalPrice.ToString("#,0.00")</td>
                        </tr>
                    </tbody>
                </table>
            }
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Total kostnad</th>
                        <th class="price-column">Pris, SEK</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                    {
                        <tr>
                            <td>@item.DescriptionToUse</td>
                            <td class="price-column">@item.Price.ToString("#,0.00")</td>
                        </tr>
                    }
                    <tr>
                        <td class="bold">Total summa:</td>
                        <td class="price-column bold">@Model.TotalPriceToDisplay.ToString("#,0.00")</td>
                    </tr>
                    <tr><td colspan="2"><br /></td></tr>
                </tbody>
            </table>
        </div>
        <br />
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-4">
            <br />
            Följande tolktaxa används för beräkning: <br /><span class="left-padding detail-text"> @Model.PriceInformationToDisplay.PriceListTypeDescription<br /></span> <span class="left-padding detail-text">@Model.PriceInformationToDisplay.CompetencePriceDescription</span><br /><br />
        </div>
        <div class="col-sm-8">
            @foreach (var dpi in Model.PriceInformationToDisplay.SeparateSubTotal)
            {
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th class="bold left-padding">@dpi.SubPriceHeader</th>
                            <th style="min-width:100px" class="bold right-padding price-column">Pris, SEK </th>
                        </tr>
                        <tr><td colspan="2"><hr class="invoice-line" /></td></tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dpi.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                        {
                            <tr>
                                <td class="left-padding">@item.DescriptionToUse</td>
                                <td class="right-padding price-column">@item.Price</td>
                            </tr>
                        }
                        <tr><td colspan="2"><hr class="invoice-line" /></td></tr>
                        <tr>
                            <td class="left-padding bold">Summa @dpi.SubPriceHeader.ToLower():</td>
                            <td class="right-padding bold price-column">@dpi.TotalPrice</td>
                        </tr>
                    </tbody>
                </table>
            }
            <br />
            <br />
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th class=" bold left-padding">Total kostnad</th>
                        <th class="bold right-padding price-column">Pris, SEK</th>
                    </tr>
                    <tr><td colspan="2"><hr class="invoice-line" /></td></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                    {
                        <tr>
                            <td class="left-padding">@item.DescriptionToUse</td>
                            <td class="right-padding price-column">@item.Price</td>
                        </tr>
                    }
                    <tr><td colspan="2"><hr class="invoice-line" /></td></tr>
                    <tr>
                        <td class="bold left-padding">Total summa:</td>
                        <td class="right-padding bold price-column">@Model.TotalPriceToDisplay</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
