@model Tolk.Web.Models.PriceInformationModel
@if (Model.UseDisplayHideInfo)
{
    <div class="bold">@Model.Header</div>
    <div class="wrap-price-info">
        <div>@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")<a class="price-column more-info-price" href="#more-info">Visa/dölj</a></div>
        <br />
        <div class="border body-content collapse detail-price-info">
            <span class="price-header bold">@Model.Header</span>
            <display-entry asp-for="PriceInformationToDisplay.TaxTypeAndCompetenceLevelDescription" label-override="" />
            <table>
                <thead>
                    <tr>
                        <th>Beskrivning</th>
                        <th class="price-column">Pris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td class="price-column">@item.Price.ToString("#,0.00 SEK")</td>
                        </tr>
                    }
                    <tr>
                        <td class="bold">Total summa:</td>
                        <td class="price-column bold"><display-entry asp-for="TotalPriceToDisplay" label-override="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="border body-content">
        <span class="price-header bold">@Model.Header</span>
        <display-entry asp-for="PriceInformationToDisplay.TaxTypeAndCompetenceLevelDescription" label-override="" />
        <table>
            <thead>
                <tr>
                    <th>Beskrivning</th>
                    <th class="price-column">Pris</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td class="price-column">@item.Price.ToString("#,0.00 SEK")</td>
                    </tr>
                }
                <tr>
                    <td class="bold">Total summa:</td>
                    <td class="price-column bold"><display-entry asp-for="TotalPriceToDisplay" label-override="" /></td>
                </tr>
            </tbody>
        </table>
    </div>
}


