@model Tolk.Web.Models.PriceInformationModel
@if (Model.UseDisplayHideInfo)
{
    @if (Model.CenterHeader)
    {
        <div class="col-sm-12 text-center">
            <label class="display-label">@Model.Header</label>
        </div>
    }
    else
    {
        <label class="display-label">@Model.Header</label>
    }
    <div class="wrap-price-info">
        @if (Model.CenterHeader)
        {
            <div class="row">
                <div class="col-sm-12 text-center">@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")<a class="price-column more-info-price" href="#more-info">Visa specifikation</a></div>
            </div>
        }
        else
        {
            <div>@Model.TotalPriceToDisplay.ToString("#,0.00 SEK")<a class="price-column more-info-price" href="#more-info">Visa specifikation</a></div>
        }
        <br />
        <div class="body-content col-xs-12 collapse detail-price-info">
            <span class="price-header bold">@Model.Header</span>
            <display-entry asp-for="PriceInformationToDisplay.HeaderDescription" label-override="" />
            @foreach (var dpi in Model.PriceInformationToDisplay.SeparateSubTotal)
            {
                <table>
                    <thead>
                        <tr>
                            <th>@dpi.HeaderDescription</th>
                            <th class="price-column">Pris</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dpi.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                        {
                            <tr>
                                <td>@item.DescriptionToUse</td>
                                <td class="price-column">@item.Price.ToString("#,0.00 SEK")</td>
                            </tr>
                        }
                        <tr>
                            <td class="bold">Summa @dpi.HeaderDescription.ToLower():</td>
                            <td class="price-column bold">@dpi.TotalPrice.ToString("#,0.00 SEK")</td>
                        </tr>
                    </tbody>
                </table>
            }
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Total kostnad</th>
                        <th class="price-column">Pris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                    {
                        <tr>
                            <td>@item.DescriptionToUse</td>
                            <td class="price-column">@item.Price.ToString("#,0.00 SEK")</td>
                        </tr>
                    }
                    <tr>
                        <td class="bold">Total summa:</td>
                        <td class="price-column bold"><display-entry asp-for="TotalPriceToDisplay" label-override="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="body-content col-xs-12">
        <span class="price-header bold">@Model.Header</span>
        <display-entry asp-for="PriceInformationToDisplay.HeaderDescription" label-override="" />
        @foreach (var dpi in Model.PriceInformationToDisplay.SeparateSubTotal)
        {
            <table>
                <thead>
                    <tr>
                        <th>@dpi.HeaderDescription</th>
                        <th class="price-column">Pris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in dpi.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                    {
                        <tr>
                            <td>@item.DescriptionToUse</td>
                            <td class="price-column">@item.Price.ToString("#,0.00 SEK")</td>
                        </tr>
                    }
                    <tr>
                        <td class="bold">Summa @dpi.HeaderDescription.ToLower():</td>
                        <td class="price-column bold">@dpi.TotalPrice.ToString("#,0.00 SEK")</td>
                    </tr>
                </tbody>
            </table>
        }
        <br />
        <table>
            <thead>
                <tr>
                    <th>Total kostnad</th>
                    <th class="price-column">Pris</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PriceInformationToDisplay.DisplayPriceRows.OrderBy(dp => dp.DisplayOrder))
                {
                    <tr>
                        <td>@item.DescriptionToUse</td>
                        <td class="price-column">@item.Price.ToString("#,0.00 SEK")</td>
                    </tr>
                }
                <tr>
                    <td class="bold">Total summa:</td>
                    <td class="price-column bold"><display-entry asp-for="TotalPriceToDisplay" label-override="" /></td>
                </tr>
            </tbody>
        </table>
    </div>
}


