@model RequestViewModel
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> TolkOptions
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic.Enums
@using Tolk.BusinessLogic.Utilities
@{
    string header = (string)ViewData["header"] ?? "Bokningsförfrågan";
    bool showHeader = (bool?)ViewData["showHeader"] ?? true;
    bool isBroker = (bool?)ViewData["isBroker"] ?? false;

    bool isCollapsible = (bool?)ViewData["isCollapsible"] ?? false;
    var divClass = isCollapsible ? "collapse" : "";
    var divId = (string)ViewData["id"] ?? "RequestSummary";
}
<section aria-label="@header">
    @if (showHeader)
    {
        @if (isCollapsible)
        {
            <a class="collapsible-section" data-toggle="collapse" data-target="#@divId">
                <h2><span class="glyphicon glyphicon-triangle-right" style="font-size:15px;margin-right:10px;"></span> @header</h2>
            </a>
        }
        else
        {
            <h1 class="normal-weight">@header</h1>
        }
        <hr />
    }
    <div id="@divId" class="@divClass">
        <div class="row">
            @if (Model.IsCancelled)
            {
                @if (!string.IsNullOrEmpty(Model.CancelMessage))
                {
                    <div class="col-sm-4">
                        <display-entry asp-for="CancelMessage" />
                    </div>
                }
            }
            @if (Model.Status == RequestStatus.DeclinedByBroker || Model.Status == RequestStatus.DeniedByCreator)
            {
                @if (!string.IsNullOrEmpty(Model.DenyMessage))
                {
                    <div class="col-sm-4">
                        <display-entry asp-for="DenyMessage" />
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="col-sm-4">
                <display-entry asp-for="LanguageAndDialect" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="RegionName" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="TimeRange" />
                @if (!string.IsNullOrEmpty(Model.DisplayMealBreakIncluded))
                {
                    <div class="detail-text mealbreak-info">
                        @Model.DisplayMealBreakIncluded
                    </div>
                }
            </div>
        </div>
        <div class="row">
            @if (!Model.RequestIsAnswered && !isBroker)
            {
                <div class="col-sm-4">
                    <label>Tolk ej tillsatt</label>
                </div>
            }
            else
            {
                <div class="col-sm-4">
                    <display-entry asp-for="Interpreter" asp-empty="Tolk ej tillsatt" />
                </div>
                <div class="col-sm-4">
                    @if ((Model.RequestIsAnswered && !Model.RequestIsDeclinedByBroker) || Model.AnswerReplacedRequest)
                    {
                        <display-entry asp-for="InterpreterCompetenceLevel" />
                    }
                    @if (Model.IsInterpreterVerified.HasValue)
                    {
                        if (Model.IsInterpreterVerified.Value)
                        {
                            <div class="system-action-info">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span role="status" class="info-message">
                                    @Model.InterpreterVerificationMessage
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="warning-info-home">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                <span role="alert" class="info-message">
                                    @Model.InterpreterVerificationMessage
                                </span>
                                <span title="" class="form-entry-information glyphicon glyphicon-info-sign"
                                      data-original-title="Efter kontroll mot Kammarkollegiets publicerade tolkregister att tilldelad tolk uppfyller kravställd kompetensnivå har ingen verifiering kunnat ske. Det kan bero på att tolkens auktorisation inte längre är giltig eller ännu inte publicerats. Det kan också bero på att tolken valt att inte synas i det officiellt publicerade tolkregistret."></span>
                            </div>
                        }
                    }
                </div>
                @if ((Model.RequestIsAnswered && !Model.RequestIsDeclinedByBroker))
                {
                    <div class="col-sm-4">
                        <display-entry asp-for="InterpreterLocation" label-override="Inställelsesätt enligt svar" />
                    </div>
                }
            }
        </div>
        @if ((Model.RequestIsAnswered && !Model.RequestIsDeclinedByBroker) || Model.AnswerReplacedRequest)
        {
            <div class="row">
                @if (Model.RequirementAnswers.Any(r => r.IsRequired))
                {
                    <div class="col-sm-4">
                        <label>Tillkommande krav</label>
                        <ul>
                            @foreach (var req in Model.RequirementAnswers.Where(r => r.IsRequired))
                            {
                                <li class="detail-text">
                                    @EnumHelper.GetDescription(req.RequirementType): @req.Description
                                    @if (!string.IsNullOrEmpty(req.Answer))
                                    {
                                        <br />
                                        <span class="requirement-answer">- Svar: @req.Answer</span>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                }
                @if (Model.RequirementAnswers.Any(r => !r.IsRequired))
                {
                    @if (Model.RequirementAnswers.Any(r => !r.IsRequired && r.CanMeetRequirement))
                    {
                        <div class="col-sm-4">
                            <label>Uppfyllda tillkommande önskemål</label>
                            <ul>
                                @foreach (var req in Model.RequirementAnswers.Where(r => !r.IsRequired && r.CanMeetRequirement))
                                {
                                    <li class="detail-text">
                                        @EnumHelper.GetDescription(req.RequirementType): @req.Description
                                        @if (!string.IsNullOrEmpty(req.Answer))
                                        {
                                            <br />
                                            <span class="requirement-answer">- Svar: @req.Answer</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @if (Model.RequirementAnswers.Any(r => !r.IsRequired && !r.CanMeetRequirement))
                    {
                        <div class="col-sm-4">
                            <label>Ej uppfyllda tillkommande önskemål</label>
                            <ul>
                                @foreach (var req in Model.RequirementAnswers.Where(r => !r.IsRequired && !r.CanMeetRequirement))
                                {
                                    <li class="detail-text">
                                        @EnumHelper.GetDescription(req.RequirementType): @req.Description
                                        @if (!string.IsNullOrEmpty(req.Answer))
                                        {
                                            <br />
                                            <span class="requirement-answer">- Svar: @req.Answer</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        }

        @if (Model.DisplayExpectedTravelCostInfo && ((Model.RequestIsAnswered && !Model.RequestIsDeclinedByBroker) || Model.AnswerReplacedRequest))
        {
            <div class="row">
                <div class="col-sm-4">
                    <display-entry asp-for="ExpectedTravelCosts" />
                </div>
                <div class="col-sm-4">
                    <display-entry asp-for="ExpectedTravelCostInfo" />
                </div>
                @if (TolkOptions.Value.EnableSetLatestAnswerTimeForCustomer && Model.RequestIsAnswered && !(Model.Status == RequestStatus.Approved || Model.Status == RequestStatus.Delivered))
                {
                    <div class="col-sm-4">
                        <display-entry asp-for="LatestAnswerTimeForCustomer" />
                    </div>
                }
            </div>
        }
        <div class="row">
            @if (Model.RequestIsAnswered)
            {
                <div class="col-sm-4">
                    <display-entry asp-for="AnsweredBy" />
                </div>
            }
            else if (!Model.RequestIsAnswered && !isBroker)
            {
                <div class="col-sm-4">
                    <display-entry asp-for="ExpiresAt" label-override="Senaste svarstid" />
                </div>
            }
            <div class="col-sm-4">
                <display-entry asp-for="BrokerName" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="BrokerOrganizationNumber" />
            </div>
        </div>
        @if (Model.AttachmentListModel?.DisplayFiles?.Count > 0)
        {
            <div class="row">
                <div class="col-sm-4">
                    @await Html.PartialAsync("_FileList", Model.AttachmentListModel)
                </div>
            </div>
        }
    </div>
</section>