@model CustomerModel
@{
    ViewData["Title"] = "Detaljer för " + Model.Name;
}
    <section aria-label="@ViewData["Title"]">
        <h1>@ViewData["Title"]</h1>
        @if (!string.IsNullOrEmpty(@Model.Message))
        {
            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <div class="system-action-info">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span role="status" class="info-message">
                            @Model.Message
                        </span>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-4">
                <display-entry asp-for="Name" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="EmailDomain" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="ParentName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <display-entry asp-for="OrganisationNumber" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="UseOrderGroups" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="PriceListType" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <display-entry asp-for="OrganisationPrefix" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="UseSelfInvoicingInterpreter" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="TravelCostAgreementType" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.List))"><span class="center-glyphicon glyphicon glyphicon-triangle-left"></span> Tillbaka</a>
            </div>
            <div class="col-sm-4">
                @if (Model.AllowEdit)
                {
                    <a class="btn btn-large btn-primary" asp-action="@nameof(Tolk.Web.Controllers.CustomerController.Edit)" asp-route-id="@Model.CustomerId">Ändra</a>
                }
            </div>
            <div class="col-sm-4">
                <a class="btn btn-large btn-default" asp-controller="User" asp-action="@nameof(Tolk.Web.Controllers.UserController.Create)" asp-route-customerId="@Model.CustomerId" asp-route-bi="@Model.UserPageMode.BackId" asp-route-bc="@Model.UserPageMode.BackController" asp-route-ba="@Model.UserPageMode.BackAction">Skapa användare</a>
            </div>
        </div>
        <section aria-label="Enheter">
            <a class="collapsible-section" data-toggle="collapse" data-target="#units">
                <h2><span class="glyphicon glyphicon-triangle-right" style="font-size:15px;margin-right:10px;"></span> Enheter</h2>
            </a>
            <hr />
            <div class="collapse" id="units">
                <div class="row filter-unit-panel">
                    <div class="col-sm-12">
                        @await Html.PartialAsync("_FilterUnits", Model.UnitFilterModel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive ajax-listing table-datatable">
                            <table class="table table-hover clickable-rows-with-action search-table" data-order="[[ 1, &quot;asc&quot; ]]"
                                   data-ajax-path="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.ListUnits), "Customer")"
                                   data-ajax-column-definition="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.UnitColumnDefinition), "Customer")"
                                   data-click-action-url="@Url.Action(nameof(Tolk.Web.Controllers.UnitController.AdminView), "Unit")"
                                   data-filter-selector=".filter-unit-panel">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section aria-label="Användare">
            <a class="collapsible-section" data-toggle="collapse" data-target="#users">
                <h2><span class="glyphicon glyphicon-triangle-right" style="font-size:15px;margin-right:10px;"></span> Användare</h2>
            </a>
            <hr />
            <div class="collapse" id="users">
                <div class="row filter-user-panel">
                    <div class="col-sm-12">
                        @await Html.PartialAsync("_FilterUsers", Model.UserFilterModel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive ajax-listing table-datatable">
                            <table class="table table-hover clickable-rows-with-action search-table" data-order="[[ 1, &quot;asc&quot; ]]"
                                   data-ajax-path="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.ListUsers), "Customer")"
                                   data-ajax-column-definition="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.UserColumnDefinition), "Customer")"
                                   data-click-action-url="@Url.Action(nameof(Tolk.Web.Controllers.UserController.View), "User")"
                                   data-filter-selector=".filter-user-panel">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
