@model WebHookListModel
@using Tolk.BusinessLogic.Utilities
@using Tolk.Web.Services;
@inject HelpLinkService HelpLinkService

@{
    ViewData["Title"] = "Historik - Webhooks";
    HelpLinkService.PageName = "formedling-historik/";

}
<h2>@ViewData["Title"] @HelpLinkService.HeaderAnchor("historik-webhooks")</h2>
<div class="row">
    @await Html.PartialAsync("_Filter", Model.FilterModel)
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.Items.Any())
        {
            <div class="table-responsive standard-table table-paging table-datatable">
                <table class="table table-hover clickable-rows-with-action search-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Skapat</th>
                            <th>Levererat</th>
                            <th>Typ</th>
                            <th>Misslyckade försök</th>
                            <th>Har skickats om</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr data-id="@item.OutboundWebHookCallId" data-click-action-url="@Url.Action("View", new { id = item.OutboundWebHookCallId })">
                                <td class="@item.ListColor">@item.OutboundWebHookCallId</td>
                                <td class="gray-border-bottom">@item.CreatedAt</td>
                                <td class="gray-border-bottom">@item.DeliveredAt</td>
                                <td class="gray-border-bottom">@EnumHelper.GetDescription(item.NotificationType)</td>
                                <td class="gray-border-bottom">@item.FailedTries</td>
                                <td class="gray-border-bottom gray-border-right">@(item.HasBeenResent ? "Ja" : "Nej")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
