@model ContractListByRegionGroupAndServiceModel
@using Tolk.Web.Services

@if (!Model.ConnectedFrameworkAgreement.IsActive)
{
    @await Html.PartialAsync("_ErrorMessage","Observera att detta avtal inte längre är aktivt!")
    ;
}

<br />
<div class="pricing-position-sticky">
    <div class="col-md-6 pull-right border bg-white">
        <h4>Förmedlingsavgifter för distanstolkning </h4>
        <h4>(telefon och video)</h4>
        <div class="table-responsive table-datatable gray-border-bottom">
            <table class="table design-only-table table-hover">
                <thead>
                    <tr>
                        @foreach (var distancePricing in Model.ItemsDistanceInterpretationPerCompetence)
                        {
                            <th>@distancePricing.CompetenceDescription</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var distancePricing in Model.ItemsDistanceInterpretationPerCompetence)
                        {
                            <td>@distancePricing.BrokerFee</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <h4>Förmedlingsavgifter för på platstolkning</h4>
        <h4>(samt distanstolkning i anvisad lokal)</h4>
        <div class="table-responsive table-datatable">
            <table class="table design-only-table table-hover">
                <thead>
                    <tr>
                        <th>Länsgrupp</th>
                        @foreach (var brokerFeeType in Model.ItemsPerRegionGroup.First().BrokerFeePerCompentence)
                        {
                            <th>@brokerFeeType.CompetenceDescription</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var regionGroup in Model.ItemsPerRegionGroup)
                    {
                        <tr>
                            <td>@regionGroup.RegionGroupName</td>
                            @foreach (var brokerFee in regionGroup.BrokerFeePerCompentence)
                            {
                                <td>@brokerFee.BrokerFee</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 in" id="link-display-reg">
        <a class="a-region-contract big-link" href="#region">Visa avtalsinformation per län <span class="font-size-14 glyphicon glyphicon-menu-right"></span></a>
        <br /><br />
    </div>
    <div class="col-sm-6 in" id="link-display-brok">
        <a class="a-broker-contract big-link" href="#broker">Visa avtalsinformation per förmedling <span class="font-size-14 glyphicon glyphicon-menu-right"></span></a>
        <br /><br />
    </div>
    <div class="col-md-6 collapse" id="contract-per-region">
        @if (Model.ItemsPerRegion.Any())
        {
            <h2>Avtalsinformation per län</h2>
            <div class="table-responsive table-datatable">
                <table class="table sortable-only-table table-hover">
                    <thead>
                        <tr>
                            <th>Län</th>
                            <th>Länsgrupp</th>
                            <th>Rangordning</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemsPerRegion)
                        {
                            <tr>
                                <td class="gray-border-bottom gray-border-left bold">@item.Region</td>
                                <td class="gray-border-bottom">@item.RegionGroup</td>
                                <td class="gray-border-bottom gray-border-right">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="align-top">Rang &nbsp; &nbsp; </th>
                                                <th class="align-top">Förmedling &nbsp; &nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var b in item.Brokers)
                                            {
                                                <tr class="gray-border-top">
                                                    <td>@b.Rank</td>
                                                    <td>@b.BrokerName &nbsp; &nbsp;</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="col-md-6 collapse" id="contract-per-broker">
        @if (Model.ItemsPerBroker.Any())
        {
            <h2>Avtalsinformation per förmedling</h2>
            <div class="table-responsive table-datatable">
                <table class="table sortable-only-table table-hover">
                    <thead>
                        <tr>
                            <th>Förmedling</th>
                            <th>Region med rangordning</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemsPerBroker)
                        {
                            @if (item.RegionRankings.Any())
                            {
                                <tr>
                                    <td class="gray-border-bottom gray-border-left bold">@item.Broker</td>
                                    <td class="gray-border-bottom gray-border-right">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="align-top">Län &nbsp; &nbsp; </th>
                                                    <th class="align-top">Länsgrupp &nbsp; &nbsp;</th>
                                                    <th class="align-top">Rang &nbsp; &nbsp; </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var b in item.RegionRankings)
                                                {
                                                    <tr class="gray-border-top">
                                                        <td>@b.RegionName &nbsp; &nbsp; </td>
                                                        <td>@b.RegionGroup &nbsp; &nbsp; </td>
                                                        <td>@b.Rank &nbsp; &nbsp;</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
