@model DisplayContractModel
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic;
@using Tolk.BusinessLogic.Enums;
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> Options
@{
    ViewData["Title"] = $"Om ramavtalet för tolkförmedlingstjänster {Model?.AgreementNumber}";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-sm-8">
            @if (!Model.IsActive)
            {
                @await Html.PartialAsync("_ErrorMessage","Observera att detta avtal inte längre är aktivt!")
                ;
            }
            @switch (Model.FrameworkAgreementResponseRuleset)
            {
                case FrameworkAgreementResponseRuleset.VersionOne:
                    <p>
                        @Model.ContractDefinition.Usage
                    </p>
                    <p>
                        @Model.ContractDefinition.Includes
                    </p>
                    <p>
                        @Model.ContractDefinition.ExcludedServices
                    </p>
                    @await Html.PartialAsync($"_{FrameworkAgreementResponseRuleset.VersionOne}SpecificRuleset",Model)
                    <p>
                        @Model.ContractDefinition.GeneralTerms
                    </p>
                    break;
                case FrameworkAgreementResponseRuleset.VersionTwo:
                    <p>
                        @Model.ContractDefinition.Usage
                        @Model.ContractDefinition.Includes
                    </p>
                    @await Html.PartialAsync($"_{FrameworkAgreementResponseRuleset.VersionTwo}SpecificRuleset",Model)
                    <p>
                        @Model.ContractDefinition.GeneralTerms
                    </p>
                    <p>
                        @Model.ContractDefinition.ExcludedServices
                    </p>
                    break;
                default:
                    break;
            }
            Mer information om ramavtalet, tolkförmedlingarna samt vägledning och avropsstöd finns på:
            <br />
        </div>
        <div class="col-sm-8">
            @if (Model.IsActive)
            {
                <a href=@Options.Value.ExternalLinks.ActiveAgreementInfo target="_blank">@Options.Value.ExternalLinks.ActiveAgreementInfo</a>
            }
            else
            {
                <a href=@Options.Value.ExternalLinks.ExpiredAgreementInfo target="_blank">@Options.Value.ExternalLinks.ExpiredAgreementInfo</a>
            }
        </div>
    </div>
</section>