@model DisplayContractModel
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic;
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> Options
@{
    ViewData["Title"] = $"Om ramavtalet för tolkförmedlingstjänster {Model?.AgreementNumber}";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-sm-8">
            @if(!Model.IsActive){
                @await Html.PartialAsync("_ErrorMessage","Observera att detta avtal inte längre är aktivt!");
            }           
                <p>
                    @Model.ContractDefinition.Usage
                </p>
                <p>
                    @Model.ContractDefinition.Includes
                </p>
                <p>
                    @Model.ContractDefinition.ExcludedServices
                </p>
                <p>
                    Ramavtalen är giltiga från och med @Model.FirstValidDate.ToString("yyyy-MM-dd") till och med @Model.OriginalLastValidDate.ToString("yyyy-MM-dd") och kan förlängas på initiativ av Kammarkollegiet i upp till @Model.PossibleAgreementExtensionsInMonths månader, det vill säga maximalt till och med @Model.LastPossibleValidDate.ToString("yyyy-MM-dd").
                </p>
                <p>
                    @Model.ContractDefinition.RankingRules
                </p>
                <p>
                    @Model.ContractDefinition.GeneralTerms
                </p>
                <p>
                    Mer information om ramavtalet, tolkförmedlingarna samt vägledning och avropsstöd finns på:
                </p>                      
        </div>
        <div class="col-sm-8">
            @if(Model.IsActive)
            {
                <a href=@Options.Value.ExternalLinks.ActiveAgreementInfo target="_blank">@Options.Value.ExternalLinks.ActiveAgreementInfo</a>                
            } else
            {
                <a href=@Options.Value.ExternalLinks.ExpiredAgreementInfo target="_blank">@Options.Value.ExternalLinks.ExpiredAgreementInfo</a>
            }
        </div>
    </div>
</section>