@model Tolk.Web.Models.StartViewModel
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic.Utilities
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> Options
@{
    ViewData["Title"] = Model.PageTitle;
}
@if (!string.IsNullOrEmpty(@Model.Message))
{
    <div class="row">
        <div class="col-xs-12">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="info-message">
                        @Model.Message
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<h2 class="bold">@ViewData["Title"]</h2>
@foreach (var startlist in Model.StartLists)
{
    <div class="row">
        <div class="col-xs-12">

            <div class="list-header list-line"><span>@startlist.Header</span></div>
            @if (startlist.StartListObjects.Any())
            {
                <div class="table-responsive table-datatable">
                    <table class="table startlist-table table-hover clickable-rows-with-action">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Tolkens kompetens</th>
                                <th>Språk</th>
                                <th>Datum för uppdrag</th>
                                @if (startlist.HasReviewAction)
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in startlist.StartListObjects)
                            {
                                <tr class="startlist-row" data-id="@item.DefaultItemId" data-click-action-url="@Url.Action(item.DefaulListAction, item.DefaulListController, new { id = item.DefaultItemId })">
                                    <td class="gray-border-bottom @item.ColorClassName">
                                        <br />
                                        <span class="startlist-status">
                                            @EnumHelper.GetDescription(item.Status)
                                        </span><br /><br />
                                        <span class="startlist-subrow">ID: @item.OrderNumber</span>
                                    </td>
                                    <td class="gray-border-bottom">
                                        <br />
                                        @EnumHelper.GetDescription(item.CompetenceLevel)<br /><br />
                                        <span class="startlist-subrow">@item.InfoDateDescription@item.InfoDate.ToString("yyyy-MM-dd HH:mm")</span>
                                    </td>
                                    <td class="gray-border-bottom">
                                        <br />
                                        @item.Language<br /><br />
                                    </td>
                                    @if (startlist.HasReviewAction)
                                    {
                                        <td class="gray-border-bottom"><br /><display-entry asp-for="@item.Orderdate" /><br /><br /></td>
                                        <td class="gray-border-bottom gray-border-right"><br /><a class="btn btn-primary pull-right do-not-check-dirty" asp-controller="@item.ButtonController" asp-action="@item.ButtonAction" asp-route-Id="@item.ButtonItemId">Granska <span class="center-glyphicon glyphicon glyphicon-triangle-right"></span></a><br /><br /></td>
                                    }
                                    else
                                    {
                                        <td class="gray-border-bottom gray-border-right"><br /><display-entry asp-for="@item.Orderdate" /><br /><br /></td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr class="gray-border-bottom"><td style="border-bottom: 1px solid gray" colspan="5"></td></tr></tfoot>
                    </table>
                </div>
            }
            else
            {
                <div class="list-empty">@startlist.EmptyMessage</div>
            }
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            @foreach (var box in Model.Boxes)
            {
                <a asp-action="@box.Action" asp-controller="@box.Controller" asp-all-route-data="box.Filters">
                    <div class="col-md-4">
                        <div class="panel panel-info center-block">
                            <div class="panel-heading">
                                <h4>@box.Header</h4>
                            </div>
                            <h1 class="shortcut-box">@box.Count.ToString()</h1>
                        </div>
                    </div>
                </a>
            }
        </div>
        @foreach (var message in Model.ConfirmationMessages)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>@message.Header</h4>
                </div>
                <div class="panel-body">
                    <p>@message.Message</p>
                </div>
                <div class="panel-footer">
                    <form method="post" asp-action="@message.Action" asp-controller="@message.Controller">
                        <input type="hidden" name="Id" value="@message.Id" />
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </form>
                </div>
            </div>

        }
    </div>

</div>
