@model Tolk.Web.Models.StartViewModel
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic.Utilities
@using Tolk.BusinessLogic.Entities
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> Options
@inject HelpLinkService HelpLinkService
@using Tolk.Web.Services
@{
    ViewData["Title"] = Model.PageTitle;
}
@if (!string.IsNullOrEmpty(@Model.Message))
{
    <div class="row">
        <div class="col-xs-12">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="info-message">
                        @Model.Message
                    </span>
                </div>
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(@Model.ErrorMessage))
{
    <div class="row">
        <div class="col-xs-12">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading warning">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span class="info-message">
                        @Model.ErrorMessage
                    </span>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.SystemMessages.Any())
{
    <div class="row ">
        <div class="col-xs-12">
            <h2>Nyheter</h2>
            @foreach (SystemMessage sm in Model.SystemMessages)
            {
                <div class="col-xs-12 @sm.CssClass">
                    <span class="normal-weight font-size-14">@sm.LastUpdatedCreatedAt.ToString("yyyy-MM-dd"): @sm.SystemMessageHeader</span>
                    <br />
                    @sm.SystemMessageText
                </div>
            }
        </div>
    </div>
}
@if (Model.ConfirmationMessages.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="list-header list-line"><span>@Model.ConfirmationMessages.First().Header</span></div>
            <div class="table-responsive table-datatable">
                <table class="table startlist-table table-hover">
                    <thead>
                        <tr>
                            <th>Meddelande</th>
                            <th>Förmedling</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var confirmMessage in Model.ConfirmationMessages)
                        {
                            <tr class="startlist-row">
                                <td class="gray-border-bottom blue-border-left">
                                    <br />
                                    <span class="normal-weight">
                                        @confirmMessage.Message
                                    </span><br /><br />
                                </td>
                                <td class="gray-border-bottom">
                                    <br />
                                    @confirmMessage.BrokerName<br /><br />
                                </td>
                                <td class="gray-border-bottom gray-border-right">
                                    <br />
                                    <form method="post" asp-action="@confirmMessage.Action" asp-controller="@confirmMessage.Controller">
                                        <input type="hidden" name="Id" value="@confirmMessage.Id" />
                                        <button type="submit" class="btn btn-primary">Acceptera <span class="center-glyphicon glyphicon glyphicon-ok"></span></button><br /><br />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@{
    if (Model.IsBroker)
    {
        HelpLinkService.PageName = "formedling-de-olika-listorna-pa-startsidan/";
    }
    else
    {
        HelpLinkService.PageName = "myndighet-de-olika-listorna-pa-startsidan/";
    }
}
<h2>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h2>
@foreach (var startlist in Model.StartLists)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="list-header list-line"><span>@startlist.Header</span></div>
            @if (startlist.StartListObjects.Any())
            {
                <div class="table-responsive table-datatable">
                    <table class="table startlist-table table-hover clickable-rows-with-action">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Tolkens kompetens</th>
                                <th>Språk</th>
                                @if (startlist.DisplayCustomer)
                                {
                                    <th>Myndighet</th>
                                }
                                <th data-order="desc">Datum för uppdrag</th>
                                @if (startlist.HasReviewAction)
                                {
                                    <th data-sortable="false"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in startlist.StartListObjects)
                            {
                                <tr class="startlist-row" data-id="@item.DefaultItemId" data-click-action-url="@Url.Action(item.DefaulListAction, item.DefaulListController, new { id = item.DefaultItemId, tab = item.DefaultItemTab })">
                                    <td class="gray-border-bottom @item.ColorClassName">
                                        <br />
                                        <span class="normal-weight">
                                            @EnumHelper.GetDescription(item.Status)
                                        </span><br /><br />
                                        <span class="startlist-subrow">ID: @item.OrderNumber</span>
                                    </td>
                                    <td class="gray-border-bottom">
                                        <br />
                                        @EnumHelper.GetDescription(item.CompetenceLevel)<br /><br />
                                        @if (item.InfoDate.HasValue)
                                        {
                                            <span class="startlist-subrow">@item.InfoDateDescription@item.InfoDate?.ToString("yyyy-MM-dd HH:mm")</span>
                                        }
                                        else
                                        {
                                            <span class="startlist-subrow">@item.InfoDateDescription -</span>
                                        }
                                    </td>
                                    <td class="gray-border-bottom">
                                        <br />
                                        @item.Language<br /><br />
                                        @if (item.LatestDate != null)
                                        {
                                            <span class="startlist-subrow-red">Svara innan: @item.LatestDate?.ToString("yyyy-MM-dd HH:mm")</span>
                                        }
                                    </td>
                                    @if (startlist.DisplayCustomer && !string.IsNullOrEmpty(item.CustomerName))
                                    {
                                        <td class="gray-border-bottom">
                                            <br />
                                            @item.CustomerName<br /><br />
                                        </td>
                                    }
                                    @if (startlist.HasReviewAction)
                                    {
                                        <td class="gray-border-bottom"><br /><display-entry asp-for="@item.Orderdate" /><br /><br /></td>
                                        <td class="gray-border-bottom gray-border-right"><br /><a class="btn btn-primary pull-right do-not-check-dirty" asp-controller="@item.ButtonController" asp-action="@item.ButtonAction" asp-route-Id="@item.ButtonItemId" asp-route-tab="@item.ButtonItemTab">Granska <span class="center-glyphicon glyphicon glyphicon-triangle-right"></span></a><br /><br /></td>
                                    }
                                    else
                                    {
                                        <td class="gray-border-bottom gray-border-right"><br /><display-entry asp-for="@item.Orderdate" /><br /><br /></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="list-empty">@startlist.EmptyMessage</div>
            }
        </div>
    </div>
}
