@model Tolk.Web.Models.StartViewModel
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic.Utilities
@using Tolk.BusinessLogic.Entities
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> Options
@inject HelpLinkService HelpLinkService
@using Tolk.Web.Services
@{
    ViewData["Title"] = Model.PageTitle;
}
@if (!string.IsNullOrEmpty(@Model.Message))
{
    @await Html.PartialAsync("_InfoMessage",@Model.Message)
}
@if (!string.IsNullOrEmpty(@Model.ErrorMessage))
{
    @await Html.PartialAsync("_ErrorMessage",@Model.ErrorMessage)
}
@if (Model.SystemMessages.Any())
{
    <div class="row ">
        <div class="col-xs-12">
            <h1>Nyheter</h1>
            @foreach (SystemMessage sm in Model.SystemMessages)
            {
                <div class="col-xs-12 @sm.CssClass">
                    <span class="normal-weight font-size-14">@sm.LastUpdatedCreatedAt.ToString("yyyy-MM-dd"): @sm.SystemMessageHeader</span>
                    <br />
                    @sm.SystemMessageText
                </div>
            }
        </div>
    </div>
}
@if (Model.ConfirmationMessages.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="list-header list-line"><span>@Model.ConfirmationMessages.First().Header</span></div>
            <div class="table-responsive table-datatable">
                <table class="table sortable-only-table table-hover">
                    <thead>
                        <tr>
                            <th>Meddelande</th>
                            <th>Förmedling</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var confirmMessage in Model.ConfirmationMessages)
                        {
                            <tr class="startlist-row">
                                <td class="gray-border-bottom blue-border-left">
                                    <br />
                                    <span class="normal-weight">
                                        @confirmMessage.Message
                                    </span><br /><br />
                                </td>
                                <td class="gray-border-bottom">
                                    <br />
                                    @confirmMessage.BrokerName<br /><br />
                                </td>
                                <td class="gray-border-bottom gray-border-right">
                                    <br />
                                    <form method="post" asp-action="@confirmMessage.Action" asp-controller="@confirmMessage.Controller">
                                        <input type="hidden" name="Id" value="@confirmMessage.Id" />
                                        <button type="submit" class="btn btn-primary">Acceptera <span class="center-glyphicon glyphicon glyphicon-ok"></span></button><br /><br />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@{
    HelpLinkService.PageName = Model.IsBroker ? "formedling-de-olika-listorna-pa-startsidan/" : Model.IsCustomer ? "myndighet-de-olika-listorna-pa-startsidan/" : "admin-startsida/";
}
<h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
@foreach (var startlist in Model.StartLists)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="list-header list-line"><span class="@startlist.HeaderClass">@startlist.HeaderLoading</span></div>
            <div class="table-responsive ajax-listing table-datatable">
                <table class="table startlist-table no-paging table-hover full-row-height clickable-rows-with-action"
                   data-ajax-path="@Url.Action(@startlist.TableDataPath.Action, @startlist.TableDataPath.Controller)"
                   data-ajax-column-definition="@Url.Action(@startlist.TableColumnDefinitionPath.Action, @startlist.TableColumnDefinitionPath.Controller)"
                   data-click-action-url="@Url.Action(@startlist.DefaultLinkPath.Action, @startlist.DefaultLinkPath.Controller)"
                   data-header-class="@startlist.HeaderClass"
                   data-header-text="@startlist.Header"
                   data-empty-header="@startlist.EmptyHeader"
                   data-empty-message="@startlist.EmptyMessage">
                </table>
            </div>
        </div>
    </div>
}
