@model IEnumerable<StatusVerificationItemModel>
@inject HelpLinkService HelpLinkService
@using Tolk.Web.Services
@{
    HelpLinkService.PageName = "admin-systemstatus/";
    ViewData["Title"] = "Systemstatus";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
    <div class="row">
        <div class="col-sm-12">
            <span class="important-info">
                Denna sida kontrollerar att tjänstens externa beroenden är uppe. Den kontrollerar också att agenten, som bland annat skickar notifieringar och tar hand om bokningsförfrågningar som skall gå vidare till nästa förmedling, utfört sina jobb.
            </span>
            @if (Model.Any())
            {
                <div class="table-responsive table-datatable">
                    <table class="table table-hover sortable-only-table styled-listing">
                        <thead>
                            <tr>
                                <th>Test</th>
                                <th>Resultat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="@(item.Success ? "green-border-left": "red-border-left")">@item.Test</td>
                                    <td>@(item.Success ? "Fungerade" : "Fungerade inte")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {

            }
        </div>
    </div>
</section>
