@inject Tolk.Web.Services.HelpLinkService HelpLinkService
@using Tolk.Web.Authorization
@{
    ViewData["Title"] = "Användarmanualer";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-sm-12">
            <a href="@HelpLinkService.CustomerManual" target="_blank">Användarmanual för myndighet</a>
            <br /><br />
        </div>
        <div class="col-sm-12">
            <a href="@HelpLinkService.BrokerManual" target="_blank">Användarmanual för tolkförmedling</a>
            <br /><br />
        </div>
        <div class="col-sm-12">
            <a href="@HelpLinkService.SystemAdminManual" target="_blank">Användarmanual för systemadministratör</a>
        </div>
        @if (User.IsInRole(Roles.ApplicationAdministrator))
        {
            <div class="col-sm-12">
                <br />
                <a href="@HelpLinkService.ApplicationAdminManual" target="_blank">Användarmanual för applikationsadministratör</a>
            </div>
        }
    </div>
</section>