@model AssignmentListModel
@using Tolk.BusinessLogic.Utilities
@{
    ViewData["Title"] = "Tilldelade uppdrag";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        @await Html.PartialAsync("_Filter", Model.FilterModel)
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Items.Any())
            {
                <div class="table-responsive standard-table table-paging table-datatable">
                    <table class="table table-hover clickable-rows-with-action full-row-height search-table">
                        <thead>
                            <tr>
                                <th class="defaultSortDesc">BokningsID</th>
                                <th>Status</th>
                                <th>Språk</th>
                                <th>Datum för uppdrag</th>
                                <th>Län</th>
                                <th>Myndighet</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr data-id="@item.RequestId" data-click-action-url="@Url.Action("View", new { id = item.RequestId })">
                                    <td class="gray-border-bottom @item.ColorClassName">@item.OrderNumber</td>
                                    <td class="gray-border-bottom">@EnumHelper.GetDescription(item.Status)</td>
                                    <td class="gray-border-bottom">@item.LanguageName</td>
                                    <td class="gray-border-bottom">@item.OrderDateAndTime</td>
                                    <td class="gray-border-bottom">@item.RegionName</td>
                                    <td class="gray-border-bottom gray-border-right">@item.CustomerName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.FilterModel.HasActiveFilters)
            {
                <span class="no-result-message">
                    Sökningen gav inget resultat.
                </span>
            }
        </div>
    </div>
</section>
