@model SystemMessageListModel
@using Tolk.Web.Services
@using Tolk.BusinessLogic.Utilities
@inject HelpLinkService HelpLinkService
@{
    ViewData["Title"] = "Nyheter";
    HelpLinkService.PageName = "admin-nyheter";
}
<h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default btn-large pull-right" href="@Url.Action("Create")">Skapa nyhet</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive standard-table table-paging table-datatable">
            <table class="table table-hover full-row-height clickable-rows-with-action search-table">
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Rubrik</th>
                        <th class="defaultSortDesc">Visas från</th>
                        <th>Visas till</th>
                        <th>Skapad/senast ändrad av</th>
                        <th>Skapad/senast ändrad</th>
                        <th>Visas för</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr data-id="@item.SystemMessageId" data-click-action-url="@Url.Action("Edit", "SystemMessage", new { id = item.SystemMessageId})">
                            <td class="gray-border-bottom @item.ColorClassName">@EnumHelper.GetDescription(item.SystemMessageType)</td>
                            <td class="gray-border-bottom">@item.SystemMessageHeader</td>
                            <td class="gray-border-bottom">@item.ActiveFrom.ToString("yyyy-MM-dd")</td>
                            <td class="gray-border-bottom">@item.ActiveTo.ToString("yyyy-MM-dd")</td>
                            <td class="gray-border-bottom">@item.LastUpdatedCreatedBy</td>
                            <td class="gray-border-bottom">@item.LastUpdatedCreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                            <td class="gray-border-bottom gray-border-right">@EnumHelper.GetDescription(item.DisplayedFor)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
