@model DefaultSettingsViewModel
@using Tolk.BusinessLogic.Utilities
@{
    ViewData["Title"] = "Bokningsinställningar";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    @if (!string.IsNullOrEmpty(@Model.Message))
    {
        @await Html.PartialAsync("_InfoMessage",@Model.Message)
    }
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="Region" />
        </div>
        <div class="col-sm-4">
            @if(Model.CustomerSpecificInvoiceReference != null)
            {
                <display-entry asp-for="CustomerSpecificInvoiceReference" />
            }
            else
            {
                <display-entry asp-for="InvoiceReference" />
            }
        </div>
        @if (Model.ShowUnitSelection)
        {
            <div class="col-sm-4">
                <display-entry asp-for="CustomerUnit" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="RankedInterpreterLocationFirst" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="RankedInterpreterLocationSecond" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="RankedInterpreterLocationThird" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <fieldset>
                <legend>Adress till tolkning på plats</legend>
                <display-entry asp-for="OnSiteLocationStreet" />
                <display-entry asp-for="OnSiteLocationCity" />
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset>
                <legend>Adress till anvisad lokal för tolkning per video</legend>
                <display-entry asp-for="OffSiteDesignatedLocationStreet" />
                <display-entry asp-for="OffSiteDesignatedLocationCity" />
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset>
                <legend>Kontaktuppgifter vid distanstolkning</legend>
                <display-entry asp-for="OffSitePhoneContactInformation" />
                <display-entry asp-for="OffSiteVideoContactInformation" />
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Tillkommande krav</label>
            @if (Model.OrderRequirements.Any())
            {
                <ul class="order-requirement-view-list">
                    @foreach (var req in Model.OrderRequirements)
                    {
                        <li class="detail-text">
                            @EnumHelper.GetDescription(req.RequirementType): @req.RequirementDescription
                        </li>
                    }
                </ul>
            }
            else
            {
                <div>-</div>
            }
        </div>
        <div class="col-sm-4">
            <label>Tillkommande önskemål</label>
            @if (Model.OrderDesiredRequirements.Any())
            {
                <ul class="order-requirement-view-list">
                    @foreach (var req in Model.OrderDesiredRequirements)
                    {
                        <li class="detail-text">
                            @EnumHelper.GetDescription(req.DesiredRequirementType): @req.DesiredRequirementDescription
                        </li>
                    }
                </ul>
            }
            else
            {
                <div>-</div>
            }
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="CreatorIsInterpreterUser" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <display-entry asp-for="AllowExceedingTravelCost" />
        </div>
    </div>
</section>
