@model UserModel
@using Tolk.BusinessLogic.Enums
@{
    ViewData["Title"] = "Ändra användare";
}
<h2>@ViewData["Title"]</h2>
<form method="post">
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="UserName" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input asp-for="Id" type="hidden" />
            <form-entry asp-for="NameFirst" />
            <form-entry asp-for="NameFamily" />
            @if (Model.UserType == UserType.SystemAdministrator || Model.UserType == UserType.OrganisationAdministrator)
            {
                <form-entry asp-for="IsOrganisationAdministrator" />
            }
            else
            {
                <display-entry asp-for="IsOrganisationAdministrator" />
            }
        </div>
        <div class="col-sm-4">
            <form-entry asp-for="PhoneWork" />
            <form-entry asp-for="PhoneCellphone" />
            @if (Model.UserType == UserType.SystemAdministrator || Model.UserType == UserType.OrganisationAdministrator)
            {

                <form-entry asp-for="IsActive" />
            }
            else
            {
                <display-entry asp-for="IsActive" />
            }
        </div>
        <div class="col-sm-4">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    @if (Model.UnitUsers != null && Model.UnitUsers.Any())
    {
        <div class="row">
            <div class="col-sm-12">
                <h3>Koppla användare till enhet</h3>
                <table class="table search-table">
                    <thead>
                        <tr>
                            <th>Enhetsnamn</th>
                            <th>Enhetens status</th>
                            <th>Hantera användare</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.UnitUsers.Count(); ++i)
                        {
                            <tr>
                                <td class="gray-border-bottom col-sm-4 @Model.UnitUsers[i].ColorClassName">
                                    @(Model.UnitUsers[i].Name)
                                </td>
                                <td class="gray-border-bottom col-sm-2">
                                    @(Model.UnitUsers[i].IsActive ? "Aktiv" : "Inaktiv")
                                    <input asp-for="UnitUsers[i].CustomerUnitId" type="hidden" />
                                </td>
                                <td class="gray-border-bottom gray-border-right col-sm-4">
                                    <div class="select-connect col-sm-6">
                                        <form-entry asp-for="UnitUsers[i].UserIsConnected" />
                                    </div>
                                    <div class="select-localadmin col-sm-6">
                                        <form-entry asp-for="UnitUsers[i].IsLocalAdmin" />
                                    </div>
                                    <div class="col-sm-6 non-unit-local-admin">

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }
    @if (Model.NonEditableUnitUsers != null && Model.NonEditableUnitUsers.Any())
    {
        <div class="row">
            <div class="col-sm-12">
                <h3>Användarens övriga enheter</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table search-table">
                            <thead>
                                <tr>
                                    <th>Enhetens namn</th>
                                    <th>Enhetens status</th>
                                    <th>Är lokal administratör</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.NonEditableUnitUsers)
                                {
                                    <tr>
                                        <td class="gray-border-bottom @item.ColorClassName">@item.Name</td>
                                        <td class="gray-border-bottom">@(item.IsActive ? "Aktiv" : "Inaktiv")</td>
                                        <td class="gray-border-bottom gray-border-right">@(item.IsLocalAdmin ? "Ja" : "Nej")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action("View", new { id = Model.Id })">Avbryt <span class="btn-remove-times">&times;</span></a>
        </div>
        @if ((Model.NonEditableUnitUsers != null && Model.NonEditableUnitUsers.Any()) || (Model.UnitUsers != null && Model.UnitUsers.Any()))
        {
            <div class="col-sm-4">
            </div>
        }
        <div class="col-sm-4">
            <button type="submit" class="btn btn-large btn-default pull-right">Spara</button>
        </div>
    </div>
</form>
@section Scripts {
    <environment include="Development">
        <script src="~/js/User/UnitUser.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/User/UnitUser.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
