@model List<NotificationSettingsModel>
@using Tolk.BusinessLogic.Utilities
@using Tolk.Web.Services
@inject HelpLinkService HelpLinkService
@{
    ViewData["Title"] = "Organisationens notifieringsinställningar";
    HelpLinkService.PageName = "formedling-notifieringar";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
    <div class="row">
        <div class="col-md-12">
            Välj om er förmedling vill notifieras via e-post och/eller webhooks för respektive notifieringstyp.
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 notifcationsettings-table">
                    <div>
                        @for (int i = 0; i < Model.Count(); ++i)
                        {
                            <div class="row col-sm-12 notifcationsettings">
                                <input asp-for="@Model[i].Type" type="hidden" />
                                <div class="notifcationsettings-header">
                                    @EnumHelper.GetDescription(Model[i].Type)
                                </div>
                                @if (Model[i].DisplayEmail)
                                {

                                    <div>
                                        <div class="col-sm-2 selection-box">
                                            <form-entry asp-for="@Model[i].UseEmail" />
                                        </div>
                                        <div class="col-sm-4 selection-textbox">
                                            <form-entry asp-for="@Model[i].SpecificEmail" />
                                        </div>
                                    </div>
                                }
                                @if (Model[i].DisplayWebhook)
                                {
                                    <div>
                                        <div class="col-sm-2 selection-box">
                                            <form-entry asp-for="@Model[i].UseWebHook" />
                                        </div>
                                        <div class="col-sm-4 selection-textbox">
                                            <form-entry asp-for="@Model[i].WebHookReceipentAddress" />
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-action="ViewOrganisationSettings">Avbryt <span class="btn-remove-times">&times;</span></a>
                </div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-large btn-success pull-right">Spara</button>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts {
    <environment include="Development">
        <script src="~/js/User/EditNotificationSettings.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/User/EditNotificationSettings.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
