@model OrganisationSettingsModel
@using Tolk.BusinessLogic.Utilities
@using Tolk.Web.Services
@inject HelpLinkService HelpLinkService
@{
    ViewData["Title"] = "Organisationens inställningar";
    HelpLinkService.PageName = "formedling-installningar";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
    @if (!string.IsNullOrEmpty(@Model.Message))
    {
        <div class="row">
            <div class="col-xs-12">
                <br />
                <div class="system-action-info">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span role="status" class="info-message">
                        @Model.Message
                    </span>
                </div>
            </div>
        </div>
    }
    <h2>Allmänn information</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <display-entry asp-for="BrokerName" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="OrganisationNumber" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="EmailRequests" />
            </div>
        </div>
    </div>
    <h2>Kontaktinformation</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <display-entry asp-for="ContactEmail" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="ContactPhone" />
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    <h2>Integrationsinställningar</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <display-entry asp-for="ApiUserName" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="UseApiKeyAuthentication" />
                <display-entry asp-for="CallbackApiKey" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="UseCertificateAuthentication" />
                <display-entry asp-for="CertificateSerialNumber" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary btn-large" asp-action="ChangeApiKey">API-nyckel</a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary btn-large" asp-action="EditOrganisationSettings">Inställningar</a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary btn-large" asp-action="EditNotificationSettings">Notifieringsinställningar</a>
        </div>
    </div>
    <h2>Notifieringsinställningar</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover search-table">
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Kanal</th>
                        <th>Koppling</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.NotificationSettings)
                    {
                        <tr>
                            <td class="gray-border-bottom gray-border-left">@item.Type.GetDescription()</td>
                            <td class="gray-border-bottom">@item.Channel.GetDescription()</td>
                            <td class="gray-border-bottom gray-border-right">@item.ContactInformation</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>