@model OrganisationSettingsModel
@using Tolk.BusinessLogic.Utilities
@{
    ViewData["Title"] = "Organisationens inställningar";
}
<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrEmpty(@Model.Message))
{
    <div class="row">
        <div class="col-xs-12">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="info-message">
                        @Model.Message
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <display-entry asp-for="UserName" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="Email" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="OrganisationNumber" />
        </div>
    </div>
</div>
<h3>Integrationsinställningar</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <display-entry asp-for="UseApiKeyAuthentication" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="UseCertificateAuthentication" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="CertificateSerialNumber" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover search-table">
            <thead>
                <tr>
                    <th>Typ</th>
                    <th>Kanal</th>
                    <th>Koppling</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NotificationSettings)
                {
                    <tr>
                        <td class="gray-border-bottom gray-border-left">@item.Type.GetDescription()</td>
                        <td class="gray-border-bottom">@item.Channel.GetDescription()</td>
                        <td class="gray-border-bottom gray-border-right">@item.ContactInformation</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-primary btn-large" asp-action="ChangeApiKey">Ändra apinyckel</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-large" asp-action="EditOrganisationSettings">Ändra kontaktuppgifter</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-large" asp-action="EditNotificationSettings">Ändra notifieringsinställningar</a>
    </div>
</div>
