@model UserModel
@{
    ViewData["Title"] = "Användardetaljer";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-4">
        <display-entry asp-for="UserName" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <display-entry asp-for="NameFull" />
        <display-entry asp-for="Organisation" />
        <display-entry asp-for="Email" />
        <display-entry asp-for="PhoneWork" />

    </div>
    <div class="col-sm-4">
        <display-entry asp-for="PhoneCellphone" />
        <display-entry asp-for="IsOrganisationAdministrator" />
        @if (Model.DisplayCentralOrderHandler)
        {
            <display-entry asp-for="IsCentralOrderHandler" />
        }
        <display-entry asp-for="IsActive" />
        <display-entry asp-for="LastLoginAt" />
    </div>
</div>
@if (Model.UnitUsers != null && Model.UnitUsers.Any())
{
    <div class="row">
        <div class="col-sm-12">
            <h3>Användarens enheter</h3>
            <div class="row">
                <div class="col-md-12">
                    <table class="table search-table">
                        <thead>
                            <tr>
                                <th>Enhetens namn</th>
                                <th>Enhetens status</th>
                                <th>Är lokal administratör</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UnitUsers)
                            {
                                <tr>
                                    <td class="gray-border-bottom @item.ColorClassName">@item.Name</td>
                                    <td class="gray-border-bottom">@(item.IsActive ? "Aktiv" : "Inaktiv")</td>
                                    <td class="gray-border-bottom gray-border-right">@(item.IsLocalAdmin ? "Ja" : "Nej")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-warning btn-large pull-left do-not-check-dirty" asp-action="@Model.UserPageMode.BackAction" asp-controller="@Model.UserPageMode.BackController" asp-route-id="@Model.UserPageMode.BackId"><span class="center-glyphicon glyphicon glyphicon-triangle-left"></span> Tillbaka</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-large btn-default" asp-action="Edit" asp-route-id="@Model.Id" asp-route-bi="@Model.UserPageMode.BackId" asp-route-bc="@Model.UserPageMode.BackController" asp-route-ba="@Model.UserPageMode.BackAction">Ändra användaruppgifter</a>
    </div>
</div>
