@model Tolk.Web.Models.OrderModel
@using Microsoft.Extensions.Options;
@using Tolk.BusinessLogic.Enums;
@using Tolk.BusinessLogic.Utilities
@inject SelectListService SelectListService
@inject HelpLinkService HelpLinkService
@inject IOptions<Tolk.BusinessLogic.Helpers.TolkOptions> TolkOptions
@{
    ViewData["Title"] = "Ny Bokning";

    var customerUnitItems = SelectListService.ActiveCustomerUnitsForUser();
    bool enableOrderGroups = Model.EnableOrderGroups;
    string orderTimeClass = enableOrderGroups ? "order-group-enabled" : "order-group-disabled";
    var allowExceedingTravelCost = Model.UserDefaultSettings.AllowExceedingTravelCost.HasValue ? Model.UserDefaultSettings.AllowExceedingTravelCost.ToString() : string.Empty;
    var creatorIsInterpreterUser = Model.UserDefaultSettings.CreatorIsInterpreterUser.HasValue ? Model.UserDefaultSettings.CreatorIsInterpreterUser.ToString() : string.Empty;
}
@using Tolk.Web.Services
@using (Html.BeginForm("Add", "Order", FormMethod.Post))
{
    @section Scripts {
        <environment include="Development">
            <script src="~/js/Files.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/wizard.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/validate.js" asp-append-version="true"></script>
            <script src="~/js/Order/Add.js" asp-append-version="true"></script>
            <script src="~/js/Order/HandleInterpreterLocations.js" asp-append-version="true"></script>
            <script src="~/js/OrderRequirements.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/Files.min.js" asp-append-version="true"></script>
            <script src="~/js/Order/add.min.js" asp-append-version="true"></script>
            <script src="~/js/Order/HandleInterpreterLocations.min.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/wizard.min.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/validate.min.js" asp-append-version="true"></script>
            <script src="~/js/OrderRequirements.min.js" asp-append-version="true"></script>
        </environment>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    <div class="wizard row">
        <div class="col-xs-12">
            @*step 1 fill form*@
            <section aria-label="Ny bokning">
                <div class="wizard-step" data-forward-button-text="Gå vidare ">
                    @{ HelpLinkService.PageName = "myndighet-skapa-bokning/";}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12 text-center">
                                <img class="progressbar" src="~/images/Step1_Order.PNG" alt="Ny bokning, steg 1 av 3, skapa bokning" />
                            </div>
                            <h1 class="normal-weight">Bokningsuppgifter @HelpLinkService.HeaderAnchor()</h1>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="LastTimeForRequiringLatestAnswerBy" />
                            <input type="hidden" asp-for="NextLastTimeForRequiringLatestAnswerBy" />
                            <input type="hidden" asp-for="UserDefaultSettings.OnSiteLocationStreet" />
                            <input type="hidden" asp-for="UserDefaultSettings.OnSiteLocationCity" />
                            <input type="hidden" asp-for="UserDefaultSettings.OffSiteDesignatedLocationStreet" />
                            <input type="hidden" asp-for="UserDefaultSettings.OffSiteDesignatedLocationCity" />
                            <input type="hidden" asp-for="UserDefaultSettings.OffSitePhoneContactInformation" />
                            <input type="hidden" asp-for="UserDefaultSettings.OffSiteVideoContactInformation" />
                            <form-entry asp-for="AssignmentType" asp-items="SelectListService.AssignmentTypes" checked-value="@AssignmentType.Interpretation.ToString()" help-link="@HelpLinkService.GenerateUrl("nybokning_uppdragstyp")" />
                            <div class="row">
                                <div class="col-sm-4">
                                    <form-entry asp-for="LanguageId" class="collapse in" id="language-panel" type="select" asp-items="SelectListService.Languages" help-link="@HelpLinkService.GenerateUrl("nybokning_sprak")" />
                                    <input id="OtherLanguageId" type="hidden" value="@OrderModel.OtherLanguageId" />
                                    <form-entry asp-for="OtherLanguage" class="collapse" id="other-language" />
                                    <span class="d-none">
                                        <input asp-for="LanguageHasAuthorizedInterpreter" type="hidden" />
                                    </span>
                                </div>
                                <div class="col-sm-4">
                                    <form-entry asp-for="Dialect" help-link="@HelpLinkService.GenerateUrl("nybokning_dialekt")" />
                                    <form-entry asp-for="DialectIsRequired" class="requirement-checkbox" />
                                </div>
                                <div class="col-sm-4">
                                    <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" help-link="@HelpLinkService.GenerateUrl("nybokning_lan")" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="order-datepicker @orderTimeClass">
                                    <form-entry asp-for="SplitTimeRange" class="date-and-time-part" help-link="@HelpLinkService.GenerateUrl("nybokning_start_sluttid")" />
                                    @if (enableOrderGroups)
                                    {
                                        <form-entry asp-for="ExtraInterpreter" class="extra-interpreter-part" help-link="@HelpLinkService.GenerateUrl("nybokning_sammanhallen")" />
                                    }
                                </div>
                                <div id="OccasionValidator" class="col-sm-12 d-none text-danger body"></div>
                            </div>
                            @if (enableOrderGroups)
                            {
                                <div class="row add-date-button-row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-warning add-occasion"><span class="small-button">Lägg till </span><span class="small-button-symbol">+</span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form-entry asp-for="SeveralOccasions" help-link="@HelpLinkService.GenerateUrl("nybokning_sammanhallen")" />
                                    </div>
                                </div>
                                <div class="row several-occasions-table">
                                    <div class="col-sm-12 col-md-10 col-lg-8">
                                        <div class="table-responsive table-datatable">
                                            <table class="table sortable-only-table styled-row">
                                                <thead>
                                                    <tr>
                                                        <th>Tillfälle</th>
                                                        <th>Extra tolk</th>
                                                        <th data-sortable="false"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="occasion-tbody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 important-info">
                                        Observera att detta innebär ett krav på förmedlingen att tillsätta samma tolk på alla tillfällen. Om den första förmedlingen inte kan tillsätta samtliga tillfällen måste förmedlingen tacka nej till hela bokningen och den går vidare till nästa förmedling.
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-8">
                                    <form-entry asp-for="LatestAnswerBy" id="LatestAnswerBy" help-link="@HelpLinkService.GenerateUrl("nybokning_svarstid")" />
                                </div>
                            </div>
                            <section aria-label="Inställelsesätt">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>
                                            Inställelsesätt <span class="form-entry-information glyphicon glyphicon-info-sign" title="Tolkning på plats och på distans i anvisad lokal kan medföra reskostnader för tolken. Om endast ett förstahandsval anges, betraktas detta som ett tvingande krav för förmedlingen. Om andrahands- och tredjehandsval anges betraktas alla alternativ som önskemål, och förmedlingen har rätt att tillsätta tolk enligt något av alternativen"></span> @HelpLinkService.Anchor("nybokning_installelsesatt")
                                        </label>
                                    </div>
                                </div>
                                <div class="row ranked-InterpreterLocation">
                                    <div class="col-sm-4 location-group">
                                        <form-entry asp-for="RankedInterpreterLocationFirst" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                                        <div class="address-RankedInterpreterLocationFirst grouped-form-boxes">
                                            <div class="address-information">
                                                <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationStreet" />
                                                <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationCity" />
                                            </div>
                                            <div class="off-site-information">
                                                <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.OffSiteContactInformation" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 interpreter-location-second location-group bg-gray">
                                        <form-entry asp-for="RankedInterpreterLocationSecond" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                                        <div class="address-RankedInterpreterLocationSecond">
                                            <div class="address-information">
                                                <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationStreet" />
                                                <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationCity" />
                                            </div>
                                            <div class="off-site-information">
                                                <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.OffSiteContactInformation" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 interpreter-location-third location-group">
                                        <form-entry asp-for="RankedInterpreterLocationThird" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                                        <div class="address-RankedInterpreterLocationThird">
                                            <div class="address-information">
                                                <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationStreet" />
                                                <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationCity" />
                                            </div>
                                            <div class="off-site-information">
                                                <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.OffSiteContactInformation" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="interpreterLocationValidator" class="d-none text-danger body"></div>
                                </div>
                                <div class="row allow-more-travel-cost">
                                    <div class="col-sm-8 important-info">
                                        Vid tolkning På plats eller Distans i anvisad lokal har förmedlingen rätt att debitera kostnader för
                                        tolkens resor upp till ramavtalets gränsvärden på 2 timmars restid eller 100 km resväg.
                                        För resor som överstiger gränsvärdena har myndigheten rätt att få förhandsgodkänna uppgift om bedömd resekostnad.
                                    </div>

                                    <div class="col-sm-12">
                                        <form-entry asp-for="AllowExceedingTravelCost" asp-items="SelectListService.AllowExceedingTravelCost" checked-value="@allowExceedingTravelCost" help-link="@HelpLinkService.GenerateUrl("nybokning_extra_restid")" />
                                        <div id="AllowExceedingTravelCostValidator" class="d-none text-danger body"></div>
                                    </div>
                                    <div class="col-sm-8 important-info allow-more-travel-cost-information">
                                        Förmedlingen måste ange en bedömd resekostnad för uppdraget innan bokningsbekräftelse kan skickas.
                                        Om du underkänner bedömd resekostnad går förfrågan vidare till nästa förmedling enligt rangordningen.
                                    </div>
                                    <div class="col-sm-8 important-info allow-no-review-travel-cost-information">
                                        Förmedlingen måste ange en bedömd resekostnad för uppdraget innan bokningsbekräftelse kan skickas.
                                        Detta alternativ innebär att du väljer bort möjligheten att underkänna bedömd resekostnad innan uppdraget har utförts.
                                    </div>
                                </div>
                            </section>
                            <section aria-label="Tolkens kompetensnivå">
                                <div class="row" id="divNonCompetenceLevel2">
                                    <div class="col-sm-12">
                                        <label>Tolkens kompetensnivå <span class="form-entry-information glyphicon glyphicon-info-sign" title="Kompetensnivå kan anges som krav eller önskemål. Maximalt två alternativ kan anges. Om kompetensnivå anges som krav ska förmedlingen tillsätta tolk med någon av angivna alternativ. Om kompetensnivå anges som önskemål kan förmedlingen tillsätta tolk enligt något av alternativen. Om inget krav eller önskemål om kompetensnivå har angetts, eller om förmedlingen inte kan tillgodose angivna önskemål, måste förmedlingen tillsätta tolk med högsta möjliga kompetensnivå enligt principen om kompetensprioritering."></span> @HelpLinkService.Anchor("nybokning_kompetensniva")</label>
                                    </div>
                                </div>
                                <div class="d-none important-info " id="divNonCompetenceLevel">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            Observera att det inte finns någon utbildad eller auktoriserad tolk i valt språk i Kammarkollegiets tolkregister. Denna bokning kommer att avse en Övrig tolk.
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none" id="divCompetenceLevel">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <form-entry asp-for="CompetenceLevelDesireType" asp-items="SelectListService.DesireTypes" help-link="@HelpLinkService.GenerateUrl("nybokning_kompetensniva")" />
                                            <div id="CompetenceLevelDesireTypeValidator" class="d-none text-danger body"></div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="competence-information d-none">
                                                <span class="glyphicon message-icon glyphicon-ok"></span>
                                                <span class="info-message-small"></span>
                                                <div class="comp-list"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span id="competence-required">
                                                <label>Ange krav på kompetensnivå i prioritetsordning</label><br />
                                            </span>
                                            <span id="competence-requested">
                                                <label>Ange eventuella önskemål om kompetensnivå i prioritetsordning</label><br />
                                            </span>
                                            <div id="competence-prio-list" class="padding-bottom-30px">
                                                <form-entry asp-for="RequestedCompetenceLevelFirst" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" label-override="" />
                                                <form-entry asp-for="RequestedCompetenceLevelSecond" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
                                            </div>
                                            <div class="important-info" id="competence-info-requirement">
                                                Du kan ange ett till två krav. Anges två krav så krävs att tolken har en av dessa två kompetensnivåer och helst vill du att tolken har den med högst prioritering.
                                            </div>
                                            <div class="important-info" id="competence-info">
                                                Om inga specifika önskemål anges ska förmedlingen tillsätta tolk enligt högsta möjliga kompetensnivå,
                                                i enlighet med ramavtalets kompetensprioritering.
                                            </div>
                                            <div class="warning-info-home" id="competence-not-available">
                                                <div role="alert">
                                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                                    Observera att du har ställt krav på minst en kompetensnivå där det för närvarande saknas tolkar för det valda språket i Kammarkollegiets tolkregister. Det finns risk för att förmedlingen inte kan tillsätta någon tolk.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 important-info">
                                            <ul>
                                                <li>Rättstolk/sjukvårdstolk (nivå 4): Tolkar i Kammarkollegiets register över auktoriserade tolkar som har erhållit bevis om speciell kompetens som rättstolk/sjukvårdstolk för aktuellt språk</li>
                                                <li>Auktoriserad tolk (nivå 3): Finns i Kammarkollegiets register över auktoriserade tolkar</li>
                                                <li>Utbildad tolk (nivå 2): Finns i Kammarkollegiets nationella tolkregister över utbildade tolkar</li>
                                                <li>Övrig tolk (nivå 1): Finns ej i Kammarkollegiets register</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="row">
                                <div class="col-sm-6">
                                    <form-entry asp-for="CreatorIsInterpreterUser" asp-items="SelectListService.BoolList" checked-value="@creatorIsInterpreterUser" />
                                    <div id="CreatorIsNotInterpreterUserInfo" class="d-none warning-info-yellow"><span class="glyphicon message-icon glyphicon-exclamation-sign yellow-glyphicon"></span><span class="info-message-small" role="alert">Du kan fylla i namn och eventuell kontaktinformation till tolkanvändaren i fältet för Övrig information om uppdraget.</span></div>
                                </div>
                                <div class="col-sm-6">
                                    <form-entry asp-for="Description" help-link="@HelpLinkService.GenerateUrl("nybokning_extrainfo")" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    @await Html.PartialAsync("_FileList", new AttachmentListModel { AllowDelete = true, AllowDownload = true, AllowUpload = true, Files = Model.Files, Description = "För att bifoga dokument som är relevanta för tillsättning av tolk, klicka på knappen ”Bifoga filer” och följ instruktionerna. Beakta eventuell informationssekretess innan filer bifogas", Title = string.Empty }, new ViewDataDictionary(ViewData) { { "helplink", HelpLinkService.PageName } })
                                </div>
                                <div class="col-sm-4">
                                    <label>Tillkommande krav <span class="form-entry-information glyphicon glyphicon-info-sign" title="Klicka på +-ikonen för att lägga till andra krav såsom tolkens kön, specifik tolk eller andra krav. Förmedlingen behöver inte uppfylla önskemål."></span> @HelpLinkService.Anchor("nybokning_krav")</label>
                                    <br />
                                    <a href="#" class="add-requirement-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addRequirement"><span class="glyphicon glyphicon-plus-sign"></span> Lägg till krav</a>
                                    <br /><br />
                                    <div class="d-none order-requirement-list no-padding">
                                        <table class="table order-requirement-table">
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Tillkommande önskemål <span class="form-entry-information glyphicon glyphicon-info-sign" title="Klicka på +-ikonen för att lägga till andra önskemål såsom tolkens kön, specifik tolk eller andra önskemål. Önskemål är inte tvingande för förmedlingen"></span> @HelpLinkService.Anchor("nybokning_onskemal")</label>
                                    <br />
                                    <a href="#" class="add-desiredRequirement-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addDesiredRequirement"><span class="glyphicon glyphicon-plus-sign"></span> Lägg till önskemål</a>
                                    <br /> <br />
                                    <div class="d-none order-desiredRequirement-list no-padding">
                                        <table class="table order-desiredRequirement-table">
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section aria-label="Myndighetens uppgifter">
                        <h1 class="normal-weight">Myndighetens uppgifter</h1>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <display-entry asp-for="CreatedByName" />
                            </div>
                            <div class="col-sm-4">
                                <form-entry asp-for="CustomerReferenceNumber" help-link="@HelpLinkService.GenerateUrl("nybokning_arendenummer")" />
                            </div>
                            <div class="col-sm-4">
                                <form-entry asp-for="UnitName" help-link="@HelpLinkService.GenerateUrl("nybokning_avdelning")" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <form-entry asp-for="InvoiceReference" help-link="@HelpLinkService.GenerateUrl("nybokning_fakturareferens")" />
                            </div>
                            <div class="col-sm-4">
                                <form-entry asp-for="ContactPersonId" type="select" asp-items="SelectListService.OtherContactPersons" class="allow-clear" help-link="@HelpLinkService.GenerateUrl("nybokning_rekvisition")" />
                            </div>
                            @if (customerUnitItems != null && customerUnitItems.Any())
                            {
                                <div class="col-sm-4">
                                    <form-entry asp-for="CustomerUnitId" type="select" asp-items="customerUnitItems" help-link="@HelpLinkService.GenerateUrl("nybokning_enhet")" />
                                </div>
                            }
                        </div>
                    </section>
                    <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-controller="Home" asp-action="Index">Avbryt <span class="btn-remove-times">&times;</span></a>
                </div>
                @*step 2 confirm*@
                <div class="wizard-step" data-forward-button-text="Skicka bokning ">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
                <div class="wizard-footer">
                    <div class="wizard-back">
                        <button type="button" class="btn btn-large btn-warning left-md-button do-not-check-dirty wizard-back-button" id="back"> <span class="center-glyphicon glyphicon glyphicon-triangle-left"></span> Ändra</button>
                    </div>
                    <div class="wizard-forward">
                        <button class="wizard-forward-button btn btn-success btn-large right-md-button" type="button" id="send"></button>
                    </div>
                    <div class="wizard-message-area"></div>
                </div>
            </section>
        </div>
    </div>
}

@if (Model.UserDefaultSettings.SavedOrderRequirements.Any())
{
    <table id="savedRequirements" class="d-none">
        @foreach (var req in Model.UserDefaultSettings.SavedOrderRequirements)
        {
            <tr>
                <td class="UserDefaultSettingOrderRequirementId">@req.UserDefaultSettingOrderRequirementId</td>
                <td class="RequirementType">@req.RequirementType</td>
                <td class="RequirementDescription">@req.RequirementDescription</td>
                <td class="SavedReqTypeName">@EnumHelper.GetDescription(req.RequirementType)</td>
            </tr>
        }
    </table>
}
@if (Model.UserDefaultSettings.SavedOrderDesiredRequirements.Any())
{
    <table id="savedDesiredRequirements" class="d-none">
        @foreach (var req in Model.UserDefaultSettings.SavedOrderDesiredRequirements)
        {
            <tr>
                <td class="UserDefaultSettingOrderRequirementId">@req.UserDefaultSettingOrderRequirementId</td>
                <td class="DesiredRequirementType">@req.DesiredRequirementType</td>
                <td class="DesiredRequirementDescription">@req.DesiredRequirementDescription</td>
                <td class="SavedReqTypeName">@EnumHelper.GetDescription(req.DesiredRequirementType)</td>
            </tr>
        }
    </table>
}

<span id="baseRequirement" class="d-none">
    <input asp-for="OrderRequirements[0].UserDefaultSettingOrderRequirementId" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementType" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementIsRequired" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementDescription" type="hidden" />
</span>
<span id="baseDesiredRequirement" class="d-none">
    <input asp-for="OrderDesiredRequirements[0].UserDefaultSettingOrderRequirementId" type="hidden" />
    <input asp-for="OrderDesiredRequirements[0].DesiredRequirementType" type="hidden" />
    <input asp-for="OrderDesiredRequirements[0].DesiredRequirementDescription" type="hidden" />
</span>
<span id="basefile" class="d-none">
    <input asp-for="Files[0].Id" type="hidden" />
</span>
<span id="baseOccasion" class="d-none">
    <input asp-for="Occasions[0].OrderOccasionId" type="hidden" />
    <input asp-for="Occasions[0].OccasionStartDateTime" type="hidden" />
    <input asp-for="Occasions[0].OccasionEndDateTime" type="hidden" />
    <input asp-for="Occasions[0].ExtraInterpreter" type="hidden" />
</span>
<span id="baseRequirement" class="d-none">
    <input asp-for="OrderRequirements[0].OrderRequirementId" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementType" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementIsRequired" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementDescription" type="hidden" />
</span>
<span id="baseDesiredRequirement" class="d-none">
    <input asp-for="OrderDesiredRequirements[0].DesiredRequirementType" type="hidden" />
    <input asp-for="OrderDesiredRequirements[0].DesiredRequirementDescription" type="hidden" />
</span>
@await Html.PartialAsync("_UploadFileDialog")
<section aria-label="Lägg till krav">
    <div id="addRequirement" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Lägg till krav</h2>
                </div>
                <div class="modal-body" id="req">
                    @await Html.PartialAsync("_Requirement", new OrderRequirementModel { RequirementIsRequired = true })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning left-md-button do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-default right-md-button save-requirement">Spara</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section aria-label="Lägg till önskemål">
    <div id="addDesiredRequirement" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Lägg till önskemål</h2>
                </div>
                <div class="modal-body" id="des">
                    @await Html.PartialAsync("_DesiredRequirement", new OrderDesiredRequirementModel())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning left-md-button do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-default right-md-button save-desiredRequirement">Spara</button>
                </div>
            </div>
        </div>
    </div>
</section>

