@model OrderListModel
@using Tolk.BusinessLogic.Utilities
@{
    ViewData["Title"] = "Avrop";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    @await Html.PartialAsync("_Filter", Model.FilterModel)
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.Items.Any())
        {
            <div class="table-responsive table-datatable">
                <table class="table table-striped table-hover clickable-rows-with-action">
                    <thead>
                        <tr>
                            <th>AvropsID</th>
                            <th>Region</th>
                            <th>Språk</th>
                            <th>Start</th>
                            <th>Slut</th>
                            <th>Status</th>
                            <th>Förmedling</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr data-id="@item.OrderId" data-click-action-url="@Url.Action(item.Action, new { id = item.OrderId })">
                                <td>@item.OrderNumber</td>
                                <td>@item.RegionName</td>
                                <td>@item.Language</td>
                                <td>@item.Start.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.End.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@EnumHelper.GetDescription(item.Status)</td>
                                <td>@item.BrokerName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>
                Det fanns inga rader att visa.
            </p>
        }
    </div>
</div>
