@model Tolk.Web.Models.OrderModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@using Tolk.BusinessLogic.Utilities
@using Tolk.BusinessLogic.Enums
@{
    ViewData["Title"] = "Bokning - " + Model.OrderNumber;
    string editContactpersonButtonText = (Model.ChangeContactPersonId == null) ? "Lägg till " : "Ändra ";

    bool isRequisitionAvailable = (bool?)Model.ActiveRequest.RequisitionId.HasValue ?? false;
    bool isComplaintAvailable = (bool?)Model.ActiveRequest.ComplaintId.HasValue ?? false;

    string requisitionPath = isRequisitionAvailable ? "Requisition/View?id=" + Model.ActiveRequest.RequisitionId + "&returnPartial=true" : "#";
    string complaintPath = isComplaintAvailable ? "Complaint/View?Id=" + Model.ActiveRequest.ComplaintId + "&returnPartial=true" : "#";
}

@await Html.PartialAsync("_OrderHeader", Model, new ViewDataDictionary(ViewData) { { "IsOrderDetailView", true } })
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#order">Bokning</a></li>
    <li class='@(isRequisitionAvailable ? "" : "disabled")'><a id="requisitionTab" data-toggle='@(isRequisitionAvailable ? "tab" : "")' href="#requisition" onclick="changeTab(this, '@requisitionPath', '#requisition')">Rekvisition</a></li>
    <li class='@(isComplaintAvailable ? "" : "disabled")'><a id="complaintTab" data-toggle='@(isComplaintAvailable ? "tab" : "")' href="#complaint" onclick="changeTab(this, '@complaintPath', '#complaint')">Reklamation</a></li>
</ul>
<div class="tab-content">
    <div id="order" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.AllowConfirmCancellation)
                {
                    <br />
                    <div class="col-sm-4 pull-right">
                        <form method="post" asp-action="ConfirmCancellation">
                            <input asp-for="RequestId" type="hidden" />
                            <button class="btn btn-primary btn-large pull-right">Bekräfta avbokning <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
                        </form>
                    </div>
                }
                @if (Model.Status == OrderStatus.NoBrokerAcceptedOrder || Model.Status == OrderStatus.NoDeadlineFromCustomer)
                {
                    <div class="row">
                        <br />
                        <div class="col-sm-6">
                            @if (Model.Status == OrderStatus.NoBrokerAcceptedOrder)
                            {
                                <span>Bokningsförfrågan avböjd av samtliga förmedlingar, bokningsförfrågan avslutad.</span>
                            }
                            else if (Model.Status == OrderStatus.NoDeadlineFromCustomer)
                            {
                                <span>Ingen sista svarstid satt av myndighet, bokningsförfrågan avslutad.</span>
                            }
                        </div>
                        @if (Model.AllowNoAnswerConfirmation)
                        {
                            <div class="col-sm-6">
                                <form method="post" asp-action="ConfirmNoAnswer">
                                    <input asp-for="OrderId" type="hidden" />
                                    <button class="btn btn-primary btn-large pull-right">Arkivera <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
                                </form>
                                <br />
                            </div>
                        }
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("_RequestSummary", Model.ActiveRequest, new ViewDataDictionary(ViewData) { { "showHeader", false }, { "isBroker", false } })
                }
                @if (Model.PreviousRequests.Any())
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Tidigare förmedlingars svar</label>
                            <ul>
                                @foreach (var request in Model.PreviousRequests)
                                {
                                    if (request.Status != RequestStatus.AwaitingDeadlineFromCustomer
                                        && request.Status != RequestStatus.NoDeadlineFromCustomer)
                                    {
                                        <li class="detail-text">
                                            @request.BrokerName (@EnumHelper.GetDescription(request.Status))
                                            @if (!string.IsNullOrWhiteSpace(request.DenyMessage))
                                            {
                                                <span> Orsak: @request.DenyMessage</span>
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
                <div class="row">
                    @if (Model.ActiveRequestPriceInformationModel != null)
                    {
                        <div class="col-sm-6">
                            @await Html.PartialAsync("_PriceInformationDisplay", Model.ActiveRequestPriceInformationModel)
                        </div>
                    }
                    @if (Model.OrderCalculatedPriceInformationModel != null)
                    {
                        <div class="col-sm-6">
                            @await Html.PartialAsync("_PriceInformationDisplay", Model.OrderCalculatedPriceInformationModel)
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @await Html.PartialAsync("_OrderSummary", Model, ViewData)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @await Html.PartialAsync("_CustomerOrganizationInfo", Model, new ViewDataDictionary(ViewData) { { "IsOrderDetailView", true } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.ActiveRequestIsAnswered && (Model.RequestStatus == RequestStatus.Accepted || Model.RequestStatus == RequestStatus.AcceptedNewInterpreterAppointed) && Model.RequestedCompetenceLevels.Any() && !Model.RequestedCompetenceLevels.Contains(Model.InterpreterCompetenceLevel.Value))
            {
                <div class="col-sm-12 important-info">
                    Observera att tolkens kompetensnivå skiljer sig från önskad kompetensnivå
                </div>
            }
            @if (Model.AllowProcessing)
            {
                <div class="col-sm-12 to-accept-info">
                    Myndighet har accepterat överskridande av gränsvärde för resor för detta uppdrag, dvs över 2 tim restid eller 100 km reslängd. Den bedömda resekostnaden (exkl. moms) som angivits av förmedlingen och ska godkännas uppgår till: <span class="bold">@Model.ExpectedTravelCosts SEK</span>
                </div>
                <div class="col-sm-12">
                    <display-entry asp-for="ExpectedTravelCostInfo" />
                    <br />
                </div>
            }
            @if (Model.AllowOrderCancellation)
            {
                <div class="col-sm-4">
                    <form method="post" class="cancel-form" asp-action="Cancel">
                        <input asp-for="OrderId" type="hidden" />
                        <input name="CancelMessage" type="hidden" />
                        <input name="AddReplacementOrder" type="hidden" value="false" />
                        <button class="btn cancel-button btn-warning btn-large">Avboka uppdrag</button>
                    </form>
                </div>
            }
            @if (Model.AllowProcessing)
            {
                <div class="col-sm-4">
                    @if (Model.AllowDenial)
                    {
                        <form method="post" class="deny-form text-align-center" asp-action="Deny">
                            <input asp-for="OrderId" type="hidden" />
                            <input asp-for="RequestId" type="hidden" />
                            <input name="DenyMessage" type="hidden" />

                            <button class="btn deny-button btn-danger btn-large">Underkänn tillsättning</button>
                        </form>
                    }
                </div>
                <div class="col-sm-4">
                    <form method="post" asp-action="Approve">
                        <input asp-for="OrderId" type="hidden" />
                        <input asp-for="RequestId" type="hidden" />
                        <button class="btn btn-default btn-success btn-large pull-right">Godkänn tillsättning <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
                    </form>
                </div>
            }
            @if (Model.AllowComplaintCreation)
            {
                <div class="col-sm-4">
                    <a class="btn btn-danger btn-large" href="@Url.Action("Create", "Complaint" , new { id=Model.RequestId })">Registrera reklamation</a>
                </div>
            }
        </div>
        @if (Model.AllowUpdateExpiry)
        {
            <form method="post" asp-action="UpdateExpiry">
                <input asp-for="OrderId" type="hidden" />
                <div class="row">
                    <div class="col-sm-8">
                        <input asp-for="TimeRange.StartDateTime" type="hidden" />
                        <form-entry asp-for="LatestAnswerBy"></form-entry>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button id="updateLatestAnswerBy" class="btn btn-default btn-success btn-large">Uppdatera svarstid <span class="center-glyphicon glyphicon glyphicon-triangle-right"></span></button>
                    </div>
                </div>
            </form>
        }
        @await Html.PartialAsync("_EventLog", Model.EventLog, new ViewDataDictionary(ViewData) { { "header", "Bokningshändelser" }, { "id", "EventLog_Order" } })
    </div>
    <div id="requisition" class="tab-pane fade">
    </div>
    <div id="complaint" class="tab-pane fade">
    </div>
</div>

<div id="cancelMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Meddelande vid avbokning</h4>
            </div>
            <div class="modal-body">
                <form class="do-not-check-dirty">
                    <form-entry asp-for="CancelMessage" />
                    @if (Model.ReplacingOrderId.HasValue)
                    {
                        <div class="important-info">Uppdraget som ska avbokas är ett ersättningsuppdrag. Det är inte möjligt att skapa ytterligare ett ersättningsuppdrag för detta uppdrag.</div>
                    }
                    @if (Model.AllowReplacementOnCancel)
                    {
                        <form-entry asp-for="AddReplacementOrder" />
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning do-not-check-dirty pull-left" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-default send-message pull-right">Avboka</button>
            </div>
        </div>
    </div>
</div>

<div id="denyMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Meddelande vid underkännande</h4>
            </div>
            <div class="modal-body">
                <form class="do-not-check-dirty">
                    <form-entry asp-for="DenyMessage" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning do-not-check-dirty pull-left" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-default send-message pull-right">Skicka</button>
            </div>
        </div>
    </div>
</div>
@if (Model.AllowEditContactPerson)
{
    <div id="EditContactPerson" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@editContactpersonButtonText person som har rätt att granska rekvisition</h4>
                </div>
                <div class="modal-body">
                    <form class="do-not-check-dirty" method="post" asp-action="ChangeContactPerson">
                        @if (Model.ChangeContactPersonId != null)
                        {
                            <div class="important-info">
                                För att ta bort person med rätt att granska rekvisition så lämna valet --Välj-- och klicka på Ändra person
                            </div>
                        }
                        <input asp-for="OrderId" type="hidden" />
                        <form-entry asp-for="ContactPersonId" type="select" asp-items="SelectListService.OtherContactPersons.Where(sl => sl.Value != Model.CreatedById.ToString() && sl.Value != Model.ChangeContactPersonId?.ToString()).ToList()" class="allow-clear" />
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default pull-right">@editContactpersonButtonText person</button>
                            <button type="button" class="btn btn-warning do-not-check-dirty pull-left" data-dismiss="modal">Avbryt</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <environment include="Development">
        <script src="~/js/Order/Process.js" asp-append-version="true"></script>
        <script src="~/js/Complaint/View.js" asp-append-version="true"></script>
        <script src="~/js/Files.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Order/Process.min.js" asp-append-version="true"></script>
        <script src="~/js/Complaint/View.min.js" asp-append-version="true"></script>
        <script src="~/js/Files.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
