@model EmailListModel
@{
    ViewData["Title"] = "E-postmeddelanden";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        @await Html.PartialAsync("_Filter", Model.FilterModel)
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Items.Any())
            {
                <div class="table-responsive standard-table table-paging table-datatable">
                    <table class="table table-hover clickable-rows-with-action full-row-height search-table">
                        <thead>
                            <tr>
                                <th>Skapat</th>
                                <th>Mottagare</th>
                                <th>Ämne</th>
                                <th>Innehåll</th>
                                <th>Skickat</th>
                                <th>Omskickat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                            <tr data-id="@item.OutboundEmailId" data-click-action-url="@Url.Action("View", new { id = item.OutboundEmailId})">
                                <td class="gray-border-bottom min-date-width @item.ColorClassName">@item.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                                <td class="gray-border-bottom">@item.Recipient</td>
                                <td class="gray-border-bottom">@item.Subject</td>
                                <td class="gray-border-bottom">@item.DisplayBody</td>
                                <td class="gray-border-bottom">@(item.IsSent ? item.SentAt?.ToString("yyyy-MM-dd HH:mm") : "-")</td>
                                <td class="gray-border-bottom gray-border-right">@(item.ResentAt.HasValue ? item.ResentAt?.ToString("yyyy-MM-dd HH:mm") : "-")</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.FilterModel.HasActiveFilters)
            {
                <span class="no-result-message">
                    Sökningen gav inget resultat
                </span>
            }
            else
            {
                <span class="no-result-message">
                    Det finns inga sparade e-postmeddelanden
                </span>
            }
        </div>
    </div>
</section>