@model Tolk.Web.Models.ComplaintViewModel
@using Tolk.Web.Services
@using Tolk.BusinessLogic.Enums
@inject HelpLinkService HelpLinkService
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <br />
                <div class="@Model.ColorClassName">
                    <display-entry asp-for="Status" />
                </div>
            </div>
            <div class="col-sm-4">
                <br />
                @if (Model.IsBroker || Model.IsAdmin)
                {
                    <display-entry asp-for="CustomerName" />
                }
                @if (Model.IsCustomer || Model.IsAdmin)
                {
                    <display-entry asp-for="BrokerName" />
                }
            </div>
            <div class="col-sm-4">
                <br />
                <display-entry asp-for="CustomerReferenceNumber" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <display-entry asp-for="CreatedBy" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="CreatedAt" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="InterpreterName" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <display-entry asp-for="ComplaintType" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="Message" />
            </div>
            <div class="col-sm-4">
                @if (!string.IsNullOrEmpty(Model.DisputeMessage))
                {
                    if (Model.Status == ComplaintStatus.AutomaticallyConfirmedDueToNoAnswer)
                    {
                        <display-entry asp-for="DisputeMessage" label-override="Statusmeddelande" />
                    }
                    else
                    {
                        <display-entry asp-for="DisputeMessage" />
                    }
                }
                @if (!string.IsNullOrEmpty(Model.AnswerDisputedMessage))
                {
                    <display-entry asp-for="AnswerDisputedMessage" />
                }
            </div>
        </div>
        @if (Model.AllowAnwser)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        @HelpLinkService.ButtonHelpIcon("formedling-besvara-reklamation")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-large btn-danger pull-left" data-toggle="modal" data-target="#disputeMessageDialog">Bestrid reklamation</button>
                </div>
                <div class="col-sm-6">
                    <form method="post" asp-action="Accept">
                        <input asp-for="ComplaintId" type="hidden" />
                        <button class="btn btn-large btn-success pull-right">Godta reklamation <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
                    </form>
                </div>
            </div>
        }
        @if (Model.AllowAnwserOnDispute)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        @HelpLinkService.ButtonHelpIcon("myndighet-hantera-reklamation")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-large btn-danger pull-left" data-toggle="modal" data-target="#refuteMessageDialog">Avslå bestridande</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-large btn-success pull-right" data-toggle="modal" data-target="#acceptDisputeMessageDialog">Godta bestridande <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        }
    </div>
</div>
@await Html.PartialAsync("_EventLog", Model.EventLog, new ViewDataDictionary(ViewData) { { "header", "Reklamationshändelser" }, { "id", "EventLog_Complaints" } })
<div id="disputeMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Bestrid reklamation</h2>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Dispute", "Complaint", new { ComplaintId = Model.ComplaintId })" asp-antiforgery="true">
                    <form-entry asp-for="DisputeMessage" />
                    <span id="disputeComplaintValidator" class="text-danger left-padding"></span>
                    <button type="button" class="btn btn-warning pull-left do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-default btn-dispute pull-right">Bestrid</button>
                    <br /><br />
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="acceptDisputeMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Godta bestridande av reklamation</h2>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("AcceptDispute", "Complaint", new { ComplaintId = Model.ComplaintId })" asp-antiforgery="true">
                    <form-entry asp-for="AnswerDisputedMessage" />
                    <span id="acceptDisputeValidator" class="text-danger left-padding"></span>
                    <button type="button" class="btn btn-warning pull-left do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-accept-complaint btn-default pull-right">Godta</button>
                    <br /><br />
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="refuteMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Avslå bestridande av reklamation</h2>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Refute", "Complaint", new { ComplaintId = Model.ComplaintId })" asp-antiforgery="true">
                    <form-entry asp-for="RefuteMessage" />
                    <span id="refuteDisputeValidator" class="text-danger left-padding"></span>
                    <button type="button" class="btn btn-warning pull-left do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-default btn-refute pull-right">Avslå</button>
                    <br /><br />
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

