 
@model Tolk.Web.Models.RequisitionModel
@inject HelpLinkService HelpLinkService
@using Tolk.Web.Services
@using Tolk.BusinessLogic.Entities;
@{
    ViewData["Title"] = "Registrera rekvisition";
    string tableClassName = Model.MealBreaks != null && Model.MealBreaks.Any() ? string.Empty : "d-none";
    HelpLinkService.PageName = "formedling-skapa-rekvisition/";
}
@if (!string.IsNullOrEmpty(Model.ViewedByUser))
{
    <span class="glyphicon glyphicon-user color-red" title="@Model.ViewedByUser"> </span><span class="normal-weight redcolor"> @Model.ViewedByUser</span>
    <br />
}
<section aria-label="@ViewData["Title"]">
    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
            <form method="post">
                <div class="row">
                    <div class="col-sm-4">
                        <display-entry asp-for="OrderNumber" />
                    </div>
                    <div class="col-sm-4">
                        <display-entry asp-for="OrderCreatedBy" />
                    </div>
                    <div class="col-sm-4">
                        <display-entry asp-for="CustomerCompactInfo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <display-entry asp-for="LanguageName" />
                    </div>
                    <div class="col-sm-4">
                        <display-entry asp-for="RegionName" />
                    </div>
                    <div class="col-sm-4">
                        <display-entry asp-for="BrokerName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <display-entry asp-for="Interpreter" />
                    </div>
                    <div class="col-sm-4">
                        <display-entry asp-for="InterpreterCompetenceLevel" />
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="RequestId" type="hidden" />
                        <input asp-for="CombinedMaxSizeAttachments" type="hidden" />
                        <input asp-for="FileGroupKey" type="hidden" />
                        @if (Model.PreviousRequisition != null)
                        {
                            <display-entry asp-for="PreviousRequisition.InterpreterTaxCard" />
                        }
                        <form-entry asp-for="InterpreterTaxCard" type="select" asp-items="SelectListService.TaxCards" class="allow-clear" help-link="@HelpLinkService.GenerateUrl("tolkens-skattsedel")" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @if (Model.RequestPriceInformationModel != null)
                        {
                            await Html.RenderPartialAsync("_PriceInformationDisplay", Model.RequestPriceInformationModel);
                        }
                    </div>
                    <div class="col-sm-6">
                        @if (Model.PreviousRequisition != null && Model.PreviousRequisition.ResultPriceInformationModel != null)
                        {
                            await Html.RenderPartialAsync("_PriceInformationDisplay", Model.PreviousRequisition.ResultPriceInformationModel);
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.PreviousRequisition != null)
                        {
                            <a href="@Url.Action("View", new { id = Model.PreviousRequisition.RequisitionId })">Se tidigare rekvisition</a><br /><br />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <display-entry asp-for="ExpectedStartedAt" />
                            </div>
                            <div class="col-sm-6">
                                @if (Model.PreviousRequisition != null)
                                {
                                    <display-entry asp-for="PreviousRequisition.SessionStartedAt" />
                                }
                            </div>
                            <div class="col-sm-12">
                                <form-entry asp-for="SessionStartedAt" id="SessionStartedAt" help-link="@HelpLinkService.GenerateUrl("faktisk-starttid")" />
                                <div id="sessionStartedAtValidator" class="d-none text-danger body"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <display-entry asp-for="ExpectedEndedAt" />
                            </div>
                            <div class="col-sm-6">
                                @if (Model.PreviousRequisition != null)
                                {
                                    <display-entry asp-for="PreviousRequisition.SessionEndedAt" />
                                }
                            </div>
                            <div class="col-sm-12">
                                <form-entry asp-for="SessionEndedAt" id="SessionEndedAt" help-link="@HelpLinkService.GenerateUrl("faktisk-sluttid")" />
                                <div id="sessionEndedAtValidator" class="d-none text-danger body"></div>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form-entry asp-for="TimeWasteTotalTime" help-link="@HelpLinkService.GenerateUrl("tidsspillan")" />
                        @if (Model.PreviousRequisition != null)
                        {
                            <display-entry asp-for="PreviousRequisition.TimeWasteInfo" label-override="Tidigare angiven tidsspillan" />
                        }
                        <div id="wasteTimeValidator" class="d-none text-danger body"></div>
                        <br />
                    </div>
                    <div class="test-class col-sm-6">
                        <form-entry asp-for="TimeWasteIWHTime" help-link="@HelpLinkService.GenerateUrl("tidsspillan-obekvam")" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="no-padding-margin">Måltidspauser <span class="form-entry-information glyphicon glyphicon-info-sign" title="Avdrag för en måltidspaus kan göras med maximalt 60 minuter. Om måltidspaus blir längre ska överskjutande tid registreras som tidsspillan."></span> @HelpLinkService.Anchor("maltidspaus")</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" class="add-mealbreak-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addMealBreak"><span class="glyphicon glyphicon-plus-sign"></span> Lägg till måltidspaus</a> 
                        <br /><br />
                        <div class="@tableClassName mealbreak-list no-padding">
                            <label>Angivna måltidspauser</label><br />
                            <table class="table mealbreak-table">
                                <thead><tr><th>Tid för måltidspaus</th><th>Ta bort</th></tr></thead>
                                <tbody id="mealBreak-tbody">
                                    @if (Model.MealBreaks != null && Model.MealBreaks.Any())
                                    {
                                        @for (var i = 0; i < Model.MealBreaks.Count; ++i)
                                        {
                                            <tr>
                                                <td class="table-start-column">
                                                    <input asp-for="MealBreaks[i].StartAtTemp" type="hidden">
                                                    <input asp-for="MealBreaks[i].EndAtTemp" type="hidden">
                                                    @Model.MealBreaks[i].StartAt.ToString("HH:mm")-@Model.MealBreaks[i].EndAt.ToString("HH:mm")
                                                </td>
                                                <td class="table-remove-column"><span class="remove-mealbreak-row bold">&times;</span></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @if (Model.MealBreakIncluded ?? false)
                        {
                            <div class="warning-info-yellow"><span class="glyphicon message-icon glyphicon-exclamation-sign yellow-glyphicon"></span><span class="info-message-small" role="alert"> Myndighet har angett att måltidspaus skulle ingå i uppdraget</span></div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="no-padding-margin">Resekostnader <span class="form-entry-information glyphicon glyphicon-info-sign" title="Här ska utlägg, traktamente och bilersättning anges."></span> @HelpLinkService.Anchor("resekostnad")</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        @if (Model.ExpectedTravelCosts > 0)
                        {
                            <display-entry asp-for="ExpectedTravelCosts" />}
                        else
                        {
                            <label>Förväntad resekostnad (exkl. moms) i SEK</label>
                            <div class="no-value-info">Inget angivet</div>
                        }
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <display-entry asp-for="InterpreterLocation" />
                    </div>
                </div>
                @if (Model.PreviousRequisition != null)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            @if (Model.PreviousRequisition.Outlay != null)
                            {
                                <display-entry asp-for="PreviousRequisition.Outlay" />
                            }
                            else
                            {
                                <label>Tidigare angivet utlägg</label>
                                <div class="no-value-info">Inget angivet</div>
                            }
                        </div>
                        <div class="col-sm-4">
                            @if (Model.PreviousRequisition.CarCompensation != null)
                            {
                                <display-entry asp-for="PreviousRequisition.CarCompensation" />
                            }
                            else
                            {
                                <label>Tidigare angiven bilersättning</label>
                                <div class="no-value-info">Inget angivet</div>
                            }
                        </div>
                        <div class="col-sm-4">
                            @if (!string.IsNullOrWhiteSpace(Model.PreviousRequisition.PerDiem))
                            {
                                <display-entry asp-for="PreviousRequisition.PerDiem" />
                            }
                            else
                            {
                                <label>Tidigare angivet traktamente</label>
                                <div class="no-value-info">Inget angivet</div>
                            }
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-4">
                        <form-entry asp-for="Outlay" />
                        <br />
                    </div>
                    <div class="col-sm-4">
                        <form-entry asp-for="CarCompensation" />
                        <div id="carCompensationValidator" class="d-none text-danger body"></div>
                        <br />
                    </div>
                    <div class="col-sm-4">
                        <form-entry asp-for="PerDiem" />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <form-entry asp-for="Message" help-link="@HelpLinkService.GenerateUrl("specifikation")" />
                        @if (Model.PreviousRequisition != null)
                        {
                            <display-entry asp-for="PreviousRequisition.Message" />
                        }
                    </div>
                    <div class="col-sm-4">
                        @await Html.PartialAsync("_FileList", new AttachmentListModel { AllowDelete = true, AllowDownload = true, AllowUpload = true, Files = Model.Files, Description = "Möjlighet att bifoga filer som kan vara relevanta för rekvisitionen", Title = string.Empty }, new ViewDataDictionary(ViewData) { { "helplink", HelpLinkService.PageName } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-controller="Request" asp-action="View" asp-route-Id="@Model.RequestId">Avbryt <span class="btn-remove-times">&times;</span></a>
                    </div>
                    <div class="col-sm-6">
                        <button id="create" type="submit" class="disable-on-click btn btn-large btn-default pull-right">Registrera rekvisition</button>
                    </div>
                </div>
            </form>
        </div>
        <span id="baseMealBreaks" class="d-none">
            <input asp-for="MealBreaks[0].StartAtTemp" type="hidden" />
            <input asp-for="MealBreaks[0].EndAtTemp" type="hidden" />
        </span>
        <span id="basefile" class="d-none">
            <input asp-for="Files[0].Id" type="hidden" />
        </span>
    </div>
    @await Html.PartialAsync("_UploadFileDialog")
    <div id="addMealBreak" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Lägg till måltidspaus</h2>
                </div>
                <div class="modal-body" id="req">
                    <form method="post" asp-action="" class="do-not-check-dirty">
                        <div class="row">
                            <div class="col-sm-10">
                                <form-entry asp-for="MealBreakStartAt" id="MealBreakStartedAt" />
                                <div id="mealBreakStartedAtAtValidator" class="d-none text-danger body"></div>
                                <br /><br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <form-entry asp-for="MealBreakEndAt" id="MealBreakEndedAt" />
                                <div id="mealBreakEndedAtAtValidator" class="d-none text-danger body"></div>
                                <br /><br />
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning left-md-button do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                        <button type="button" class="btn btn-default right-md-button save-mealbreak">Spara måltidspaus</button>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <environment include="Development">
        <script src="~/js/Files.js" asp-append-version="true"></script>
        <script src="~/js/Requisition/Create.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Files.min.js" asp-append-version="true"></script>
        <script src="~/js/Requisition/Create.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
