@model Tolk.Web.Models.RequisitionViewModel
@using Tolk.BusinessLogic.Enums
@using Tolk.Web.Services
@inject HelpLinkService HelpLinkService

@if (Model.RelatedRequisitions != null && Model.RelatedRequisitions.Count() > 1)
{
    int i = 0;
    <div class="row">
        <div class="col-xs-12" aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach (int id in Model.RelatedRequisitions)
                {
                    i++;
                    @if (Model.RequisitionId == id)
                    {
                        <li class="active">Rekv @(i)</li>
                    }
                    else
                    {
                        <li><a href="#" onclick="changeRequisition(this, 'Requisition/View?id=@id&returnPartial=true', '#requisition')">Rekv @(i)</a></li>
                    }
                }
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-4">
        <br />
        <div class="@Model.ColorClassName">
            <display-entry asp-for="Status" />
        </div>
    </div>
    <div class="col-sm-4">
        <br />
        <display-entry asp-for="CustomerOrganizationName" />
    </div>
    <div class="col-sm-4">
        <br />
        <display-entry asp-for="CustomerReferenceNumber" />
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.CustomerComment))
{
    <div class="row">
        <div class="col-sm-6">
            <display-entry asp-for="CustomerComment"></display-entry>
        </div>
        @if (Model.AllowCreateNewRequisition)
        {
            <div class="col-sm-6">
                <a class="btn btn-large btn-danger pull-right" href="@Url.Action("Create", new { id = Model.RequestId })">Ersätt rekvisition</a>
            </div>
        }
    </div>
}
@await Html.PartialAsync("_RequisitionSummary", Model, new ViewDataDictionary(ViewData) { { "header", "Sammanställning" }, { "showBreadcrumbs", true } })
<div class="important-info">
    Observera att rekvisitionen inte alltid visar slutlig kostnad för eventuell bilersättning eller traktamente. Exakta summor för denna typ av poster är inte alltid kända vid tillfället för registrering av rekvisitionen. Dessa kostnader ska beräknas enligt särskilda tabeller i tolktaxan eller enligt Skatteverkets regler.
</div>

@if (Model.AllowProcessing)
{
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Hantera rekvisition <span class="pull-right">
                    @HelpLinkService.ButtonHelpIcon("myndighet-hantera-rekvisition")
                </span>
            </h2>
            <hr />
        </div>
    </div>
    <div class="row">
        @if ((Model.MealBreakIncluded ?? false) && !Model.ResultPriceInformationModel.PriceInformationToDisplay.MealBreaks.Any())
        {
            <div class="col-sm-12">
                <div class="warning-info-home"><span class="glyphicon message-icon glyphicon-exclamation-sign"></span><span class="info-message-small" role="alert"> Observera att myndigheten har angett att måltidspaus skulle ingå i uppdraget, men inga måltidspauser har lagts till i rekvisitionen</span></div><br /><br />
            </div>
        }
        <div class="col-sm-4">
            <button type="button" data-toggle="modal" data-target="#commentReqMessageDialog" class="btn btn-large btn-danger">Skicka kommentar</button>
            <span class="form-entry-information glyphicon glyphicon-info-sign info-sign-big decrease-left-margin" title="Klicka på ”Skicka kommentar” om du vill kommentera något i rekvisitionen och vill att tolkförmedlingen ska skicka en ny rekvisition."></span>
        </div>
        <div class="col-sm-4 padding-left-40">
            @if (Model.AllowConfirmNoReview)
            {
                <form method="post" action="@Url.Action("ConfirmNoReview", new { RequisitionId = Model.RequisitionId })" asp-antiforgery="true">
                    <button class="btn btn-success btn-large pull-left">Arkivera</button>
                </form>
                <span class="form-entry-information glyphicon glyphicon-info-sign info-sign-big decrease-left-margin" title="Klicka på ”Arkivera” om du varken vill kommentera eller granska rekvisitionen."></span>
            }
        </div>
        <div class="col-sm-4">
            <span class="pull-right form-entry-information glyphicon glyphicon-info-sign info-sign-big" title="Klicka på ”Granskad” för att bekräfta att du tagit del av innehållet i rekvisitionen. Detta betyder inte automatiskt att rekvisitionen är godkänd. Varje myndighet avgör själv vilken rutin för godkännande som ska gälla. Observera att om du klickat på granskad har du inte längre möjlighet att skicka kommentarer på rekvisitionen."></span>
            <form method="post" action="@Url.Action("Review", new { RequisitionId = Model.RequisitionId })" asp-antiforgery="true">
                <button class="btn btn-success btn-large pull-right">Granskad <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
            </form>
        </div>
    </div>
}
@if (Model.PreviousRequisitionView != null && (Model.Status != RequisitionStatus.Commented && Model.Status != RequisitionStatus.DeniedByCustomer))
{
    <div class="row">
        <div class="col-xs-12">
            @await Html.PartialAsync("_RequisitionSummary", Model.PreviousRequisitionView, new ViewDataDictionary(ViewData) { { "header", "Förra rekvisitionen" }, { "isCollapsible", true }, { "id", "PreviousRequisitionSummary" } })
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        @await Html.PartialAsync("_EventLog", Model.EventLog)
    </div>
</div>
<div id="commentReqMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Skicka kommentar</h2>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Comment" class="do-not-check-dirty">
                    <input asp-for="RequisitionId" type="hidden" />
                    <form-entry asp-for="CustomerComment" />
                    <span id="commentRequisitionValidator" class="text-danger left-padding"></span>
                    <button type="submit" class="btn btn-default right-md-button do-not-check-dirty btn-comment-req">Skicka kommentar</button>
                    <button type="button" class="btn btn-warning left-md-button do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                    <br /><br />
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
